@{
	Layout = "../Shared/_layout.cshtml";
}

<!-- the 'special-page' class is only an identifier for scripts -->
<body class="special-page code-page dark">
<!-- The template uses conditional comments to add wrappers div for ie8 and ie7 - just add .ie or .ie7 prefix to your css selectors when needed -->
<!--[if lt IE 9]><div class="ie"><![endif]-->
<!--[if lt IE 8]><div class="ie7"><![endif]-->
	
	<h1>500</h1>
	<p>Internal server error</p>
	<section>
		
		<ul class="action-tabs with-children-tip children-tip-left">
			<li><a href="javascript:history.back()" title="Go back"><img src="~/images/icons/fugue/navigation-180.png" width="16" height="16"></a></li>
		</ul>
		
		<ul class="action-tabs right with-children-tip children-tip-right">
			<li><a href="@U.Admin.Home()" title="Go to homepage"><img src="~/images/icons/fugue/home.png" width="16" height="16"></a></li>
		</ul>
		
		<div class="block-content no-title dark-bg">
			Please contact your system administrator
		</div>
		
	</section>

<!--[if lt IE 8]></div><![endif]-->
<!--[if lt IE 9]></div><![endif]-->
</body>