@model Dexter.Host.Areas.Dxt_Admin.Models.Settings.ReadingViewModel

@{
    Layout = "~/Areas/Dxt_Admin/Views/Shared/_layoutWithMenu.cshtml";
}

<section class="grid_12">
	@if (!ViewData.ModelState.IsValid) {
		<ul class="message error no-margin">
			@Html.ValidationSummary()
		</ul>	
	}
	
	<div class="block-border">
		<form method="post" id="simple_form" class="block-content form">
			<h1>Edit Reading Settings</h1>

			<fieldset class="grey-bg required">
				<legend>Required Fields</legend>
				<p>
					<label for="simple-required">Number Of Post Per Page</label>
					@Html.TextBoxFor(x => x.Reading.NumberOfPostPerPage, new { @class = "full-width", placeholder = "Write here the title of the blog" })
				</p>
				<p>
					<label for="simple-required">Number Of Post Per Feed</label>
					@Html.TextBoxFor(x => x.Reading.NumberOfPostPerFeed, new { @class = "full-width", placeholder = "Write here the title of the blog" })
				</p>
				<p>
					<label>Show Abstract In Feed</label>
					@Html.CheckBoxFor( x => x.Reading.ShowAbstractInFeed, new { @class = "mini-switch"} )
				</p>
			</fieldset>
		</form>
	</div>

</section>