<div id="footer">
	
	<div class="container upper">

		<div class="threecol first">
			<h2>Tags</h2>
			<div class="tagcloud">
				<a href="http://wpdemo.themnific.com/pre/16/?tag=art" class="tag-link-12" title="2 topics" style="font-size: 14.3pt;">Art</a>
				<a href="http://wpdemo.themnific.com/pre/16/?tag=buildings" class="tag-link-13" title="2 topics" style="font-size: 14.3pt;">Buildings</a>
				<a href="http://wpdemo.themnific.com/pre/16/?tag=cards" class="tag-link-14" title="4 topics" style="font-size: 22pt;">Cards</a>
				<a href="http://wpdemo.themnific.com/pre/16/?tag=face" class="tag-link-16" title="2 topics" style="font-size: 14.3pt;">Face</a>
				<a href="http://wpdemo.themnific.com/pre/16/?tag=flowers" class="tag-link-17" title="1 topic" style="font-size: 8pt;">Flowers</a>
				<a href="http://wpdemo.themnific.com/pre/16/?tag=fog" class="tag-link-18" title="2 topics" style="font-size: 14.3pt;">Fog</a>
				<a href="http://wpdemo.themnific.com/pre/16/?tag=foliage" class="tag-link-19" title="2 topics" style="font-size: 14.3pt;">Foliage</a>
				<a href="http://wpdemo.themnific.com/pre/16/?tag=food" class="tag-link-20" title="1 topic" style="font-size: 8pt;">Food</a>
				<a href="http://wpdemo.themnific.com/pre/16/?tag=images" class="tag-link-22" title="2 topics" style="font-size: 14.3pt;">Images</a>
				<a href="http://wpdemo.themnific.com/pre/16/?tag=post-format-link" class="tag-link-23" title="2 topics" style="font-size: 14.3pt;">Link</a>
				<a href="http://wpdemo.themnific.com/pre/16/?tag=macro" class="tag-link-24" title="3 topics" style="font-size: 18.5pt;">Macro</a>
				<a href="http://wpdemo.themnific.com/pre/16/?tag=photo" class="tag-link-25" title="2 topics" style="font-size: 14.3pt;">Photo</a>
				<a href="http://wpdemo.themnific.com/pre/16/?tag=post-formats" class="tag-link-26" title="4 topics" style="font-size: 22pt;">Post Formats</a>
				<a href="http://wpdemo.themnific.com/pre/16/?tag=road" class="tag-link-27" title="2 topics" style="font-size: 14.3pt;">Road</a>
				<a href="http://wpdemo.themnific.com/pre/16/?tag=sentinel" class="tag-link-28" title="2 topics" style="font-size: 14.3pt;">Sentinel</a>
				<a href="http://wpdemo.themnific.com/pre/16/?tag=smooth" class="tag-link-30" title="1 topic" style="font-size: 8pt;">Smooth</a>
				<a href="http://wpdemo.themnific.com/pre/16/?tag=song" class="tag-link-31" title="3 topics" style="font-size: 18.5pt;">Song</a>
			</div>
			<h2>About Us</h2>
			<div class="textwidget">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus faucibus ligula consequat porttitor. Vestibulum ac justo.</div>
		</div>

		<div class="threecol">
			<h2>Latest Comments</h2>
			<ul class="inn">
				<li class="com_post">
					<img alt="" src="./ScoreME_files/aacc823ac139f84d0825de27e8a9258a(1)" class="avatar avatar-35 photo" height="35" width="35">
					<p>
						<span><a href="http://wpdemo.themnific.com/pre/16/?p=2348#comment-9" title="on Alps Holiday">dannci says:</a></span>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac posuere ante. Ut scelerisque luctu...
					</p>
				</li>

				<li class="com_post">
					<img alt="" src="./ScoreME_files/aacc823ac139f84d0825de27e8a9258a(1)" class="avatar avatar-35 photo" height="35" width="35">
					<p>
						<span><a href="http://wpdemo.themnific.com/pre/16/?p=1981#comment-2" title="on All night a wide-awake watch was kept by all the officers">Dannci says:</a></span>
						She was drifting some fifty feet above the ground, followed by all but some hundred of the warriors ...
					</p>
				</li>

				<li class="com_post">
					<img alt="" src="./ScoreME_files/7fabf59b04374d5d8ef982d3c7130eaf" class="avatar avatar-35 photo" height="35" width="35">
					<p>
						<span><a href="http://wpdemo.themnific.com/pre/16/?p=1986#comment-6" title="on Gallery Post - I realised that the crest of Maybury Hill must be within range of the Martians">Themnific says:</a></span>
						Morbi in est nulla, ac iaculis dolor. Praesent at justo eu justo faucibus pharetra accumsan vel sem....
					</p>
				</li>

			</ul>
		</div>

		<div class="threecol">
			<div class="lasttwit">
				<h2 class="widget inn widget-single"><a href="http://twitter.com/AiANews">@@AiANews »</a></h2>
				<div class="tweets">
					<ul class="tweet_list">
						<li class="tweet_first tweet_odd"><a class="tweet_avatar" href="http://twitter.com/AiANews">
							                                  <img src="./ScoreME_files/c89254711caa3babf22dbddcb1819bf3_normal.jpeg" height="40" width="40" alt="AiANews&#39;s avatar" title="AiANews&#39;s avatar" border="0"></a><span class="tweet_join">  </span><span class="tweet_text">Art in America's May 2013 cover by Ellsworth Kelly. White Form on Black. 2013. <a href="http://t.co/sC32mwNBzK">http://t.co/sC32mwNBzK</a></span><br>
							                                                                                                                                                                                                                                                                                                                                                                                                                    <a href="http://twitter.com/AiANews/statuses/330434845702488060" class="view-twitter slant">1 day ago</a></li>
						<li class="tweet_even"><a class="tweet_avatar" href="http://twitter.com/AiANews">
							                       <img src="./ScoreME_files/c89254711caa3babf22dbddcb1819bf3_normal.jpeg" height="40" width="40" alt="AiANews&#39;s avatar" title="AiANews&#39;s avatar" border="0"></a><span class="tweet_join">  </span><span class="tweet_text">Ryan McLaughlin show at Lüttgenmeijer. Review available online. <a href="http://t.co/cogBNAEkhF">http://t.co/cogBNAEkhF</a></span><br>
							                                                                                                                                                                                                                                                                                                                                                                                          <a href="http://twitter.com/AiANews/statuses/330378580984991740" class="view-twitter slant">1 day ago</a></li>
						<li class="tweet_odd"><a class="tweet_avatar" href="http://twitter.com/AiANews">
							                      <img src="./ScoreME_files/c89254711caa3babf22dbddcb1819bf3_normal.jpeg" height="40" width="40" alt="AiANews&#39;s avatar" title="AiANews&#39;s avatar" border="0"></a><span class="tweet_join">  </span><span class="tweet_text">Museums are backing out of loan agreements with indicted art dealer Helly Nahmad. <a href="http://t.co/kn1wXzFYkG">http://t.co/kn1wXzFYkG</a></span><br>
							                                                                                                                                                                                                                                                                                                                                                                                                           <a href="http://twitter.com/AiANews/statuses/330364417218838500" class="view-twitter slant">1 day ago</a></li>
					</ul>
				</div>
			</div>
			<script type="text/javascript">
				jQuery(document).ready(function($) {
					$(".tweets").tweet({
						join_text: "auto",
						username: "AiANews",
						avatar_size: 40,
						count: 3,
						auto_join_text_default: "",
						auto_join_text_ed: "",
						auto_join_text_ing: "",
						auto_join_text_reply: "",
						auto_join_text_url: "",
						loading_text: "loading tweets..."
					});
				})
			</script>


		</div>

		<div class="threecol">
			<h2>Photos on <span class="flickr">flick<span>r</span></span>        </h2>
			<div class="inn">

				<div class="flickwrap">
					<script type="text/javascript" src="./ScoreME_files/badge_code_v2.gne"> </script>
					<div class="flickr_badge_image" id="flickr_badge_image1"><a href="http://www.flickr.com/photos/reganmccaffery/8055867304/">
						                                                         <img src="./ScoreME_files/8055867304_dd866cf0e8_s.jpg" alt="A photo on Flickr" title="Stop - Go" height="75" width="75"></a></div>
					<div class="flickr_badge_image" id="flickr_badge_image2"><a href="http://www.flickr.com/photos/valloriani/8682191129/">
						                                                         <img src="./ScoreME_files/8682191129_2e573b6f45_s.jpg" alt="A photo on Flickr" title="Florence#26" height="75" width="75"></a></div>
					<div class="flickr_badge_image" id="flickr_badge_image3"><a href="http://www.flickr.com/photos/34369651@N02/7617333604/">
						                                                         <img src="./ScoreME_files/7617333604_67a51c678f_s.jpg" alt="A photo on Flickr" title="dunbrody" height="75" width="75"></a></div>
					<div class="flickr_badge_image" id="flickr_badge_image4"><a href="http://www.flickr.com/photos/61015379@N08/8647895479/">
						                                                         <img src="./ScoreME_files/8647895479_4bd6657c43_s.jpg" alt="A photo on Flickr" title="P1010203" height="75" width="75"></a></div>
					<div class="flickr_badge_image" id="flickr_badge_image5"><a href="http://www.flickr.com/photos/g_pinho/8649410493/">
						                                                         <img src="./ScoreME_files/8649410493_ef12b3e9c2_s.jpg" alt="A photo on Flickr" title="" height="75" width="75"></a></div>
					<div class="flickr_badge_image" id="flickr_badge_image6"><a href="http://www.flickr.com/photos/filippotire/8681956630/">
						                                                         <img src="./ScoreME_files/8681956630_fda24f6704_s.jpg" alt="A photo on Flickr" title="Into the unknown" height="75" width="75"></a></div>
					<div class="flickr_badge_image" id="flickr_badge_image7"><a href="http://www.flickr.com/photos/alessandraiannotti/8386203113/">
						                                                         <img src="./ScoreME_files/8386203113_525dfb7e2f_s.jpg" alt="A photo on Flickr" title="Milano by night" height="75" width="75"></a></div>
					<div class="flickr_badge_image" id="flickr_badge_image8"><a href="http://www.flickr.com/photos/84060481@N08/8540175614/">
						                                                         <img src="./ScoreME_files/8540175614_287abf53cd_s.jpg" alt="A photo on Flickr" title="e n t e r  -  r e d" height="75" width="75"></a></div>
					<div class="flickr_badge_image" id="flickr_badge_image9"><a href="http://www.flickr.com/photos/looping1987/8696454010/">
						                                                         <img src="./ScoreME_files/8696454010_cf2f1c7357_s.jpg" alt="A photo on Flickr" title="Carré Bordelais" height="75" width="75"></a></div>
					<span style="left: -999em; position: absolute; top: -999em; visibility: hidden" class="flickr_badge_beacon">
						<img src="./ScoreME_files/p" width="0" height="0" alt=""></span>
				</div>

			</div>
			<h2>Get In Touch</h2>
			<ul class="social-menu">
				<li class="rss"><a title="Rss Feed" href="http://wpdemo.themnific.com/pre/16/?p=20#">Rss Feed</a></li>
				<li class="googleplus"><a title="Google+" href="http://wpdemo.themnific.com/pre/16/?p=20#">Google+</a></li>













				<li class="vimeo"><a title="Vimeo" href="http://wpdemo.themnific.com/pre/16/?p=20#">Vimeo</a></li>

				<li class="twitter"><a title="Twitter" href="http://wpdemo.themnific.com/pre/16/?p=20#">Twitter</a></li>
				<li class="facebook"><a title="Facebook" href="http://wpdemo.themnific.com/pre/16/?p=20#">Facebook</a></li>
				<li class="pinterest"><a title="Pinterest" href="http://wpdemo.themnific.com/pre/16/?p=20#">Pinterest</a></li>



				<li class="mail"><a title="Say Hello!" href="http://wpdemo.themnific.com/pre/16/?p=20#">Email me</a></li>


			</ul>
			<div class="clear-floats"></div>
			<div style="clear: both;"></div>

		</div>
	
		<div style="clear: both;"></div>

		<div class="hrlineB"></div>

		<div id="copyright">
			<div class="fl">
				<p>© 2013 Score.me Theme™</p>
			</div>

			<div class="fr">
				<p>Powered by <a href="http://www.wordpress.org/">Wordpress</a>. Designed by <a href="http://themnific.com/">Themnific™</a></p>
			</div>
		</div>
	</div>

</div><!-- /#footer  -->