<header id="header">
	<div id="headtop">
		<h1>                  
			<a class="logo" href="http://wpdemo.themnific.com/pre/16/">
				<img src="./ScoreME_files/scoreme-logo1.png" alt="Score.me Theme">
			</a>
		</h1>
		<a id="navtrigger" href="http://wpdemo.themnific.com/pre/16/?p=20#">MENU</a>
		<nav id="navigation" class="">    
			<ul id="main-nav" class="nav custom-nav sf-js-enabled">
				<li id="menu-item-2282" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2282"><a href="http://wpdemo.themnific.com/pre/16/">Home</a></li>
				<li id="menu-item-2284" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2284"><a href="http://wpdemo.themnific.com/pre/16/?page_id=2226" class="sf-with-ul">Shortcodes<span class="sf-sub-indicator"> »</span></a>
					<ul class="sub-menu" style="display: none; visibility: hidden;">
						<li id="menu-item-2285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2285"><a href="http://wpdemo.themnific.com/pre/16/?page_id=2236">Buttons and Links</a></li>
						<li id="menu-item-2286" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2286"><a href="http://wpdemo.themnific.com/pre/16/?page_id=2238">Columns</a></li>
						<li id="menu-item-2287" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2287"><a href="http://wpdemo.themnific.com/pre/16/?page_id=2239">Contact Form</a></li>
						<li id="menu-item-2288" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2288"><a href="http://wpdemo.themnific.com/pre/16/?page_id=2241">Info Box</a></li>
						<li id="menu-item-2289" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2289"><a href="http://wpdemo.themnific.com/pre/16/?page_id=2243">Toggle</a></li>
						<li id="menu-item-2290" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2290"><a href="http://wpdemo.themnific.com/pre/16/?page_id=2245">Typography</a></li>
					</ul>
				</li>
				<li id="menu-item-2234" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2234"><a href="http://wpdemo.themnific.com/pre/16/?p=20#" class="sf-with-ul">Categories<span class="sf-sub-indicator"> »</span></a>
					<ul class="sub-menu" style="display: none; visibility: hidden;">
						<li id="menu-item-2228" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2228"><a href="http://wpdemo.themnific.com/pre/16/?cat=2">Audio</a></li>
						<li id="menu-item-2229" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2229"><a href="http://wpdemo.themnific.com/pre/16/?cat=3">Design</a></li>
						<li id="menu-item-2230" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor menu-item-2230"><a href="http://wpdemo.themnific.com/pre/16/?cat=4">Lifestyle</a></li>
						<li id="menu-item-2231" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2231"><a href="http://wpdemo.themnific.com/pre/16/?cat=7">Movies</a></li>
						<li id="menu-item-2232" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2232"><a href="http://wpdemo.themnific.com/pre/16/?cat=8">Nature</a></li>
						<li id="menu-item-2233" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-2233"><a href="http://wpdemo.themnific.com/pre/16/?cat=9">Photos</a></li>
					</ul>
				</li>
				<li id="menu-item-2291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2291"><a href="http://wpdemo.themnific.com/pre/16/?page_id=2273" class="sf-with-ul">Features<span class="sf-sub-indicator"> »</span></a>
					<ul class="sub-menu" style="display: none; visibility: hidden;">
						<li id="menu-item-2281" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-2281"><a href="http://wpdemo.themnific.com/pre/16/?page_id=2212">Alternative Homepage</a></li>
						<li id="menu-item-2235" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2235"><a href="http://wpdemo.themnific.com/pre/13/category/photos/">Archive Example</a></li>
						<li id="menu-item-2280" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2280"><a href="http://wpdemo.themnific.com/pre/13/author/fictotem/">Author Page</a></li>
						<li id="menu-item-2292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2292"><a href="http://wpdemo.themnific.com/pre/16/?page_id=2279">Error 404</a></li>
						<li id="menu-item-2294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2294"><a href="http://wpdemo.themnific.com/pre/16/?page_id=2275">Full Width</a></li>
						<li id="menu-item-2293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2293"><a href="http://wpdemo.themnific.com/pre/16/?page_id=2277">Redirect</a></li>
					</ul>
				</li>
				<li id="menu-item-2283" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-2283"><a href="http://wpdemo.themnific.com/pre/16/?page_id=2212">Blog</a></li>
				<li id="menu-item-2466" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2466"><a href="http://wpdemo.themnific.com/pre/16/wp-login.php"><span style="color: #97C730">Log In/Register</span></a></li>
			</ul>
			<div id="searchelement">
				<form class="searchformhead rad" method="get" action="http://wpdemo.themnific.com/pre/16">
					<input type="text" name="s" class="s" size="30" value="Search website...">
					<input type="submit" class="searchSubmit" value="">
				</form>
			</div>
		</nav>
        
	</div>
        
	<div style="clear: both;"></div>
        
	<nav id="mag-nav" class="">    
            
		<ul id="sec-nav" class="nav custom-nav sf-js-enabled"><li id="menu-item-2434" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2434"><a href="http://wpdemo.themnific.com/pre/16/"><i class="icon-home"></i></a></li>
			<li id="menu-item-2420" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2420"><a href="http://wpdemo.themnific.com/pre/16/?cat=2">Audio</a></li>
			<li id="menu-item-2430" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2430"><a href="http://wpdemo.themnific.com/pre/16/?cat=39">Apps</a></li>
			<li id="menu-item-2421" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2421"><a href="http://wpdemo.themnific.com/pre/16/?cat=3">Design</a></li>
			<li id="menu-item-2423" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2423"><a href="http://wpdemo.themnific.com/pre/16/?cat=11">Graphic</a></li>
			<li id="menu-item-2427" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2427"><a href="http://wpdemo.themnific.com/pre/16/?cat=8">Nature</a></li>
			<li id="menu-item-2429" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2429"><a href="http://wpdemo.themnific.com/pre/16/?cat=38" class="sf-with-ul">Reviews<span class="sf-sub-indicator"> »</span></a>
				<ul class="sub-menu" style="display: none; visibility: hidden;">
					<li id="menu-item-2422" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor menu-item-2422"><a href="http://wpdemo.themnific.com/pre/16/?cat=4">Lifestyle</a></li>
					<li id="menu-item-2424" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-2424"><a href="http://wpdemo.themnific.com/pre/16/?cat=6">Minimalism</a></li>
					<li id="menu-item-2425" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2425"><a href="http://wpdemo.themnific.com/pre/16/?cat=5">Literature</a></li>
					<li id="menu-item-2426" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2426"><a href="http://wpdemo.themnific.com/pre/16/?cat=7">Movies</a></li>
					<li id="menu-item-2431" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2431"><a href="http://wpdemo.themnific.com/pre/16/?cat=40">Featured</a></li>
				</ul>
			</li>
			<li id="menu-item-2428" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-2428"><a href="http://wpdemo.themnific.com/pre/16/?cat=9">Photos</a></li>
			<li id="menu-item-2433" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2433"><a href="http://wpdemo.themnific.com/pre/16/?cat=10">Video</a></li>
		</ul>
		<ul class="social-menu">
			<li class="rss"><a title="Rss Feed" href="http://wpdemo.themnific.com/pre/16/?p=20#">Rss Feed</a></li>
			<li class="googleplus"><a title="Google+" href="http://wpdemo.themnific.com/pre/16/?p=20#">Google+</a></li>













			<li class="vimeo"><a title="Vimeo" href="http://wpdemo.themnific.com/pre/16/?p=20#">Vimeo</a></li>

			<li class="twitter"><a title="Twitter" href="http://wpdemo.themnific.com/pre/16/?p=20#">Twitter</a></li>
			<li class="facebook"><a title="Facebook" href="http://wpdemo.themnific.com/pre/16/?p=20#">Facebook</a></li>
			<li class="pinterest"><a title="Pinterest" href="http://wpdemo.themnific.com/pre/16/?p=20#">Pinterest</a></li>



			<li class="mail"><a title="Say Hello!" href="http://wpdemo.themnific.com/pre/16/?p=20#">Email me</a></li>


		</ul>
		<div class="clear-floats"></div>                            
	</nav>

</header>