<div id="sidebar" class="body2 boxshadow">
	<div id="hometab">

		<ul id="serinfo-nav">
			<li class="li01 current"><a href="#serpane0">Latest</a></li>
			<li class="li02"><a href="#serpane1">Popular</a></li>
			<li class="li03"><a href="#serpane2">Random</a></li>
			<li class="li04" style="width: 20.5%"><a href="#serpane3">Tags</a></li>
		</ul>

		<ul id="serinfo">
			<li id="serpane0">
				@{ Html.RenderAction("RecentPosts", "Widget", new
					                                          {
																	area = "",
																	maxNumberOfPosts = 5
					                                          }); }
			</li>


			<li id="serpane1" style="display: none;">
				<div class="tab-post">


					<a href="http://wpdemo.themnific.com/pre/16/?p=1986" title="Gallery Post – I realised that the crest of Maybury Hill must be within range of the Martians">

						<img width="70" height="60" src="http://wpdemo.themnific.com/pre/16/wp-content/uploads/2012/11/typo06-70x60.png" class="attachment-tabs wp-post-image" alt="typo06" title="">
					</a>


					<h3><a href="http://wpdemo.themnific.com/pre/16/?p=1986" title="Gallery Post – I realised that the crest of Maybury Hill must be within range of the Martians"><i class="icon-picture"></i>Gallery Post – I realised that the crest of Maybury Hill must be...</a></h3>

					<p class="meta">
						Nov 2 | 
          169 Views |
          2 Comments      
					</p>

				</div>
				<div class="tab-post">


					<a href="http://wpdemo.themnific.com/pre/16/?p=1981" title="All night a wide-awake watch was kept by all the officers">

						<img width="70" height="60" src="http://wpdemo.themnific.com/pre/16/wp-content/uploads/2013/04/2014-Cadillac-CTS-Section-3-1920x1440-70x60.jpg" class="attachment-tabs wp-post-image" alt="2014 Cadillac CTS" title="">
					</a>


					<h3><a href="http://wpdemo.themnific.com/pre/16/?p=1981" title="All night a wide-awake watch was kept by all the officers">All night a wide-awake watch was kept by all the officers</a></h3>

					<p class="meta">
						Apr 15 | 
          699 Views |
          1 Comment      
					</p>

				</div>
				<div class="tab-post">


					<a href="http://wpdemo.themnific.com/pre/16/?p=2348" title="Alps Holiday">

						<img width="70" height="60" src="http://wpdemo.themnific.com/pre/16/wp-content/uploads/2013/04/oak-ridge-104060_1920-70x60.jpg" class="attachment-tabs wp-post-image" alt="oak-ridge-104060_1920" title="">
					</a>


					<h3><a href="http://wpdemo.themnific.com/pre/16/?p=2348" title="Alps Holiday">Alps Holiday</a></h3>

					<p class="meta">
						Apr 15 | 
          780 Views |
          1 Comment      
					</p>

				</div>
				<div class="tab-post">


					<a href="http://wpdemo.themnific.com/pre/16/?p=2317" title="Old War Towers">

						<img width="70" height="60" src="http://wpdemo.themnific.com/pre/16/wp-content/uploads/2013/04/1108649_24517411-70x60.jpg" class="attachment-tabs wp-post-image" alt="1108649_24517411" title="">
					</a>


					<h3><a href="http://wpdemo.themnific.com/pre/16/?p=2317" title="Old War Towers">Old War Towers</a></h3>

					<p class="meta">
						Apr 15 | 
          545 Views |
          No Comments      
					</p>

				</div>
			</li>

			<li id="serpane2" style="display: none;">

				@{ Html.RenderAction("RandomPosts", "Widget", new
					                                              {
						                                              area = "",
						                                              maxNumberOfPosts = 5
					                                              }); }
			</li>

			<li id="serpane3" style="display: none;">
				@{ Html.RenderAction("TopTags", "Widget", new
					                                          {
																	area = "",
																	maxNumberOfTags = 16
					                                          }); }
			</li>
		</ul>

	</div>
	<div style="clear: both;"></div>
	<a href="#">
		<img class="ad300 rad" src="http://media.tumblr.com/tumblr_m6ox7dPqrZ1qaidj6.png" alt=""></a>
	<div style="clear: both;"></div>

	<h2 class="widget single">Our communitya</h2>
	<ul class="inn">

		<li class="com_post">

			<img alt="" src="http://0.gravatar.com/avatar/aacc823ac139f84d0825de27e8a9258a?s=35&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D35&amp;r=G" class="avatar avatar-35 photo" height="35" width="35">
			<p>
				<span><a href="http://wpdemo.themnific.com/pre/16/?p=2348#comment-9" title="on Alps Holiday">dannci says:</a></span>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac posuere ante. Ut scelerisque luctu...
			</p>
		</li>

		<li class="com_post">

			<img alt="" src="http://0.gravatar.com/avatar/aacc823ac139f84d0825de27e8a9258a?s=35&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D35&amp;r=G" class="avatar avatar-35 photo" height="35" width="35">
			<p>
				<span><a href="http://wpdemo.themnific.com/pre/16/?p=1981#comment-2" title="on All night a wide-awake watch was kept by all the officers">Dannci says:</a></span>
				She was drifting some fifty feet above the ground, followed by all but some hundred of the warriors ...
			</p>
		</li>

		<li class="com_post">

			<img alt="" src="http://1.gravatar.com/avatar/7fabf59b04374d5d8ef982d3c7130eaf?s=35&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D35&amp;r=G" class="avatar avatar-35 photo" height="35" width="35">
			<p>
				<span><a href="http://wpdemo.themnific.com/pre/16/?p=1986#comment-6" title="on Gallery Post - I realised that the crest of Maybury Hill must be within range of the Martians">Themnific says:</a></span>
				Morbi in est nulla, ac iaculis dolor. Praesent at justo eu justo faucibus pharetra accumsan vel sem....
			</p>
		</li>

	</ul>
	<h2 class="widget single">Advertisement</h2>
	<ul class="ad125">
		<li><a href="#">
			<img class="twinsbox" src="http://media.tumblr.com/tumblr_m6sh3hWLII1qaidj6.png" alt=""></a></li>
		<li><a href="#">
			<img class="twinsbox" src="http://media.tumblr.com/tumblr_m6sh3hWLII1qaidj6.png" alt=""></a></li>

		<li><a href="#">
			<img class="twinsbox" src="http://media.tumblr.com/tumblr_m6sh3hWLII1qaidj6.png" alt=""></a></li>
		<li><a href="#">
			<img class="twinsbox" src="http://media.tumblr.com/tumblr_m6sh3hWLII1qaidj6.png" alt=""></a></li>
	</ul>


	<h2 class="widget widget-single inn"><a href="http://wpdemo.themnific.com/pre/16/?cat=9">Trending topics</a></h2>

	<ul>

		<li class="fblock">

			<a href="http://wpdemo.themnific.com/pre/16/?p=1395" title="Freed from its enemy, stopped short">
				<img width="90" height="75" src="http://wpdemo.themnific.com/pre/16/wp-content/uploads/2012/10/hamburg-66668-90x75.jpg" class="attachment-w-featured wp-post-image" alt="hamburg-66668" title="">
			</a>

			<h3><a href="http://wpdemo.themnific.com/pre/16/?p=1395" title="Freed from its enemy, stopped short"><i class="icon-picture"></i>Freed from its enemy, stopped short
				<br>
				<span class="rating_star">
					<i class="icon-star"></i>
					<i class="icon-star"></i>
					<i class="icon-star"></i>
					<i class="icon-star"></i>
					<i class="icon-star-empty"></i>
				</span></a></h3>
			<p class="meta">
				Apr 1 | 
                        1005 Views                    
			</p>

		</li>


		<li class="fblock">

			<a href="http://wpdemo.themnific.com/pre/16/?p=20" title="The Tin Woodman gave a sigh of satisfaction and lowered his axe">
				<img width="90" height="75" src="http://wpdemo.themnific.com/pre/16/wp-content/uploads/2012/11/angle-19887-90x75.jpg" class="attachment-w-featured wp-post-image" alt="angle-19887" title="">
			</a>

			<h3><a href="http://wpdemo.themnific.com/pre/16/?p=20" title="The Tin Woodman gave a sigh of satisfaction and lowered his axe">The Tin Woodman gave a sigh of satisfaction...
				<br>
				<span class="rating_star">
					<i class="icon-star"></i>
					<i class="icon-star"></i>
					<i class="icon-star"></i>
					<i class="icon-star"></i>
					<i class="icon-star"></i>
				</span></a></h3>
			<p class="meta">
				Nov 3 | 
                        399 Views                    
			</p>

		</li>


		<li class="fblock">

			<a href="http://wpdemo.themnific.com/pre/16/?p=8" title="He read and re-read the paper, fearing the worst had happened to me.">
				<img width="90" height="75" src="http://wpdemo.themnific.com/pre/16/wp-content/uploads/2012/11/sunrise-66022-small-90x75.png" class="attachment-w-featured wp-post-image" alt="sunrise-66022-small" title="">
			</a>

			<h3><a href="http://wpdemo.themnific.com/pre/16/?p=8" title="He read and re-read the paper, fearing the worst had happened to me.">He read and re-read the paper, fearing the...
				<br>
			</a></h3>
			<p class="meta">
				Nov 3 | 
                        136 Views                    
			</p>

		</li>


		<li class="fblock">

			<a href="http://wpdemo.themnific.com/pre/16/?p=51" title="Other poets have warbled praises of soft eye of the antelope">
				<img width="90" height="75" src="http://wpdemo.themnific.com/pre/16/wp-content/uploads/2012/11/brush-57527-940x545-90x75.jpg" class="attachment-w-featured wp-post-image" alt="brush-57527-940x545" title="">
			</a>

			<h3><a href="http://wpdemo.themnific.com/pre/16/?p=51" title="Other poets have warbled praises of soft eye of the antelope">Other poets have warbled praises of soft eye...
				<br>
			</a></h3>
			<p class="meta">
				Nov 1 | 
                        76 Views                    
			</p>

		</li>

	</ul>


</div>
