@model Dexter.Host.Model.BlogController.PostViewModel

@{
	Layout = Model.Template;
}

<div class="post-1981 post type-post status-publish format-standard hentry category-design tag-foliage tag-macro twinsbox">
	@Html.Partial("_blogDetail", Model.Post)
</div>