/**
 * Block lists styles
 */

/****************** Favorites *******************/

.favorites > li {
	border-top: 1px dotted #999999;
	padding: 0 0 0 75px;
	position: relative;
}

body.dark .favorites > li { border-top-color: #bbb; }

body.dark .white-bg .favorites > li,
body.dark .block-content .favorites > li { border-top-color: #999999; }

.favorites > li:first-child { border-top: 0; }
	/* IE class */

.favorites > li.first-child { border-top: 0; }

.favorites > li:hover {
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background: url(../images/old-browsers-bg/favorites-bg.png) repeat-x;
	background: -moz-linear-gradient(
	                                top,
	                                rgba(0, 0, 0, 0.1),
	                                rgba(0, 0, 0, 0)
);
	background: -moz-linear-gradient(
	                                top,
	                                rgba(0, 0, 0, 0.1),
	                                rgba(0, 0, 0, 0)
);
	background-size: 100% 100%;
}

.favorites > li > img {
	margin-left: -60px;
	margin-top: 1.5em;
	position: absolute;
}

.favorites > li > a {
	background: url(../images/favorites-border.png) no-repeat left center;
	color: #39c;
	display: block;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 0.833em;
	min-height: 1.833em;
	padding: 1.278em 1em;
}
		/* IE class */

.ie7 .favorites > li > a { margin-top: -0.667em; }

body.dark .favorites > li > a { color: white; }

.white-bg .favorites > li > a,
.favorites.white-bg > li > a,
body.dark .block-content .favorites > li > a,
body.dark .white-bg .favorites > li > a,
body.dark .favorites.white-bg > li > a { color: #39c; }

.favorites > li > a small {
	color: #999;
	font-size: 0.667em;
	font-weight: normal;
	text-transform: none;
}

body.dark .favorites > li > a small { color: #344147; }

.white-bg .favorites > li > a small,
.favorites.white-bg > li > a small,
body.dark .block-content .favorites > li > a small,
body.dark .white-bg .favorites > li > a small,
body.dark .favorites.white-bg > li > a small { color: #999; }

/****************** Shortcuts *******************/

.shortcuts-list { padding-top: 0.5em; }

.shortcuts-list li { float: left; }

.shortcuts-list li a {
	-moz-border-radius: 0.417em;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 0.417em;
	border-radius: 0.417em;
	color: #808080;
	display: block;
	padding-bottom: 9px;
	padding-top: 63px;
	position: relative;
	text-align: center;
	width: 7em;
}

body.dark .shortcuts-list li a { color: white; }

body.dark .block-content .shortcuts-list li a { color: #808080; }

.dark-grey-gradient .shortcuts-list li a,
.shortcuts-list.dark-grey-gradient li a { color: white; }

.shortcuts-list li a:hover { background: #E0E0E0; }

body.dark .shortcuts-list li a:hover { background: #404040; }

body.dark .block-content .shortcuts-list li a:hover { background: #E0E0E0; }

.dark-grey-gradient .shortcuts-list li a:hover,
.shortcuts-list.dark-grey-gradient li a:hover {
	background: #404040;
	color: white;
}

.shortcuts-list li a img {
	left: 50%;
	margin-left: -24px;
	position: absolute;
	top: 9px;
}
	
	/************* Mobile customization *************/

@media only screen and (max-device-width: 480px) {	
	.shortcuts-list { padding-top: 0; }

	article > .shortcuts-list {
		margin-left: -0.5em;
		margin-right: -0.5em;
	}

	article > .shortcuts-list li a { width: 6.5em; }		
}

	/****************** Files list ******************/

.files { padding: 1em 0 0 1em; }

.files li {
	color: #666;
	float: left;
	margin: 0 1em 1em 0;
	padding-top: 74px;
	text-align: center;
	width: 100px;
}

.files li a {
	color: #666;
	display: block;
	height: 2.4em;
	line-height: 1.2em;
	padding: 4px 5px 7px;
	text-overflow: ellipsis;
	word-wrap: break-word;
}

body.dark .files li a {
	-moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	color: white;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

body.dark .block-content .files li a {
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	color: #666;
	text-shadow: none;
}

.dark-grey-gradient .files li a,
.files.dark-grey-gradient li a {
	-moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	color: white;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.files li a:hover {
	-moz-border-radius: 0.333em;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 0.333em;
	background: #e0e0e0;
	border-radius: 0.333em;
	color: #333;
}

body.dark .files li a:hover {
	background: #404040;
	color: white;
}

body.dark .block-content .files li a:hover {
	background: #e0e0e0;
	color: #333;
}

.dark-grey-gradient .files li a:hover,
.files.dark-grey-gradient li a:hover {
	background: #404040;
	color: white;
}

.files li a span {
	display: block;
	height: 70px;
	line-height: 70px;
	margin: -78px -5px 8px;
}

.files li a span img { vertical-align: middle; }

.files li a span img.thumb {
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	border: 1px solid white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/***************** Blocks grid ******************/

ul.grid { padding: 0.75em 0 0 0.75em; }
/* IE class */

.ie7 ul.grid { padding-bottom: 0.75em; }

ul.grid > li {
	-moz-background-size: 100% 100%;
	-moz-border-radius: 0.417em;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	-o-background-size: 100% 100%;
	-webkit-background-clip: padding-box;
	-webkit-background-size: 100% 100%;
	-webkit-border-radius: 0.417em;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	background: #cccccc url(../images/old-browsers-bg/grid-block-bg.png) repeat-x top;
	background: -moz-linear-gradient(
	                                top,
	                                #f5f5f5,
	                                #cccccc
);
	background: -webkit-gradient(
	                            linear,
	                            left top, left bottom,
	                            from(#f5f5f5),
	                            to(#cccccc)
);
	background-size: 100% 100%;
	border: 1px solid white;
	border-radius: 0.417em;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	color: #333333;
	float: left;
	margin: 0 0.75em 0.75em 0;
	padding: 0.75em;
	position: relative;
	width: 17em;
}

ul.grid > li .grid-picto {
	background-position: 0.75em 0.75em;
	background-repeat: no-repeat;
	border-right: 1px solid #b3b3b3;
	margin: -0.75em 1em -0.75em -0.75em;
	padding: 0.75em 0.75em 0.75em 3.9em;
}

ul.grid > li .grid-picto.user { background-image: url(../images/icons/web-app/32/Profile.png); }

ul.grid > li .grid-picto.computer { background-image: url(../images/icons/web-app/32/Loading.png); }

ul.grid > li .grid-picto.chart { background-image: url(../images/icons/web-app/32/Pie-Chart.png); }

ul.grid > li .grid-picto.print { background-image: url(../images/icons/web-app/32/Print.png); }

ul.grid > li .grid-picto.warning { background-image: url(../images/icons/web-app/32/Warning.png); }

ul.grid > li .grid-name {
	color: #373737;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 0.25em;
}

ul.grid > li .grid-details { color: #808080; }

ul.grid > li .grid-details b {
	color: #333333;
	font-weight: normal;
}

ul.grid > li .grid-actions {
	-moz-background-size: 100% 100%;
	-moz-border-radius: 0 0.333em 0.333em 0;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-webkit-border-bottom-right-radius: 0.333em;
	-webkit-border-top-right-radius: 0.333em;
	background: #b3b3b3 url(../images/old-browsers-bg/grid-block-controls-bg.png) repeat-x top;
	background: -moz-linear-gradient(
	                                top,
	                                #f0f0f0,
	                                #b3b3b3
);
	background: -webkit-gradient(
	                            linear,
	                            left top, left bottom,
	                            from(#f0f0f0),
	                            to(#b3b3b3)
);
	background-size: 100% 100%;
	border-left: 1px solid white;
	border-radius: 0 0.333em 0.333em 0;
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 1.7em;
}

ul.grid > li .grid-actions li {
	border-bottom: 1px solid #b3b3b3;
	border-top: 1px solid white;
	height: 1.75em;
	line-height: 1.75em;
	text-align: center;
}

ul.grid > li .grid-actions li:first-child { border-top: none; }

ul.grid > li .grid-actions li:last-child { border-bottom: none; }
		/* IE class */

ul.grid > li .grid-actions li.last-child { border-bottom: none; }

ul.grid > li .grid-actions li img { margin: 0 -1px -3px 0; }

/***************** Blocks lists *****************/

.task,
.blocks-list > li,
.mini-blocks-list > li {
	-moz-background-size: 100% 100%;
	-moz-border-radius: 0.25em;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	-o-background-size: 100% 100%;
	-webkit-background-clip: padding-box;
	-webkit-background-size: 100% 100%;
	-webkit-border-radius: 0.25em;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	background: #e6e6e6 url(../images/old-browsers-bg/lite-grey-grad-bg.png) repeat-x top;
	background: -moz-linear-gradient(
	                                top,
	                                #f7f7f7,
	                                #e6e6e6
);
	background: -webkit-gradient(
	                            linear,
	                            left top, left bottom,
	                            from(#f7f7f7),
	                            to(#e6e6e6)
);
	background-size: 100% 100%;
	border: 1px solid white;
	border-radius: 0.25em;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	color: #666666;
	line-height: 1.25em;
	position: relative;
	z-index: 89;
}

.ie .task,
.ie .blocks-list > li,
.ie .mini-blocks-list > li { border-color: #cccccc; }

.task {
	margin-bottom: 1.667em;
	padding: 1.667em 1.667em 0;
}

.task + .task.with-legend { margin-top: 2.5em; }

.task .task-description { padding-bottom: 1.667em; }

.task .floating-tags { margin: -0.667em -0.667em -0.667em 1.5em; }

.task:hover { background: #dbe8f0; }

.task-dialog { margin: 0 -1.667em; }

.task-dialog > li {
	background: #ffffcd url(../images/icons/fugue/balloon-reverse.png) no-repeat 0.667em 0.75em;
	border-top: 1px solid #c5c39c;
	color: #565340;
	margin: 0 -1px;
	padding: 0.75em 0.75em 0.75em 2.5em;
	position: relative;
	z-index: 89;
}

.ie .task-dialog > li { margin: 0; }

.task-dialog > li:nth-child(even) { background-color: #f7f7df; }
			/* IE class */

.task-dialog > li.even { background-color: #f7f7df; }

.task-dialog > li:last-child {
	-moz-border-radius: 0 0 0.167em 0.167em;
	-webkit-border-bottom-left-radius: 0.167em;
	-webkit-border-bottom-right-radius: 0.167em;
	border-radius: 0 0 0.167em 0.167em;
}

.task-dialog > li.auto-hide { display: none; }

:hover > .task-dialog > li.auto-hide { display: block; }

.task-dialog > li > strong { color: #353334; }

.task-dialog > li > em { color: #b1b197; }

.task-dialog .mini-menu { margin-right: -0.5em; }
		
		/************* Mobile customization *************/

@media only screen and (max-device-width: 480px) {		
	.task-dialog > li.auto-hide { display: block; }			
}

.blocks-list > li {
	margin-bottom: 0.5em;
	padding: 1em 0.5em;
}

.mini-blocks-list > li {
	margin-bottom: 0.5em;
	padding: 0.25em 0.5em 0.417em;
}

.blocks-list > li a,
.mini-blocks-list > li a { color: #666666; }

.blocks-list > li img,
.mini-blocks-list > li img { margin-bottom: -4px; }

.blocks-list > li .tags.float-right,
.mini-blocks-list > li .tags.float-right {
	margin-bottom: -0.333em;
	margin-top: -0.417em;
}

.mini-blocks-list > li .tags.float-right { margin-right: -0.417em; }
			/* IE class */

.ie7 .blocks-list > li .tags.float-right { margin-top: -0.25em; }
			/* IE class */

.ie7 .mini-blocks-list > li .tags.float-right { margin-top: -0.167em; }

/****************** Icon list *******************/

.icon-list { margin: 0 -19px 0.833em -7px; }

.icon-list li {
	background: url(../images/corner.png) no-repeat right bottom;
	float: left;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	height: 2.5em;
	margin-top: 0.75em;
	padding: 7px 26px 21px 61px;
	width: 5em;
}

.icon-list li a {
	display: block;
	height: 2.5em;
	margin: -7px -26px -21px -61px;
	padding: 7px 26px 21px 61px;
	width: 5em;
}

body.dark .icon-list li a { color: white; }

body.dark .block-content .icon-list li a { color: #39c; }

.icon-list li a:hover,
body.dark .icon-list li a:hover,
body.dark .block-content .icon-list li a:hover { color: #33CCFF; }

.icon-list li small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.667em;
	font-weight: normal;
	text-transform: none;
	vertical-align: 20%;
}

body.dark .icon-list li small { color: #b0b0b0; }

body.dark .block-content .icon-list li small { color: #808080; }

.icon-list li .icon {
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 48px;
	margin: -3px 0 0 -54px;
	width: 48px;
}

/************* Small files icon list ************/

.small-files-list li {
	background: url(../images/icons/finefiles/32/default.png) no-repeat;
	color: black;
	line-height: 1.083em;
	margin-bottom: 0.25em;
	min-height: 32px;
	padding: 0.25em 0 0 42px;
}

.small-files-list li:last-child { margin-bottom: 0; }
	/* IE class */

.small-files-list li.last-child { margin-bottom: 0; }

.small-files-list li a {
	color: black;
	display: block;
	margin: -0.25em 0 0 -42px;
	padding: 0.25em 0 0 42px;
}

.small-files-list li a:hover { color: #3399cc; }

.small-files-list li small { color: #999999; }

.small-files-list.icon-html li, .small-files-list li.icon-html { background-image: url(../images/icons/finefiles/32/html.png); }

.small-files-list.icon-xml li, .small-files-list li.icon-xml { background-image: url(../images/icons/finefiles/32/xml.png); }

.small-files-list.icon-img li, .small-files-list li.icon-img { background-image: url(../images/icons/finefiles/32/other_image.png); }

.small-files-list.icon-music li, .small-files-list li.icon-music { background-image: url(../images/icons/finefiles/32/other_music2.png); }

.small-files-list.icon-movie li, .small-files-list li.icon-movie { background-image: url(../images/icons/finefiles/32/mpg.png); }

.small-files-list.icon-folder li, .small-files-list li.icon-folder { background-image: url(../images/icons/finefiles/32/_Close.png); }

.small-files-list.icon-mail li, .small-files-list li.icon-mail { background-image: url(../images/icons/email.png); }

.small-files-list.icon-comment li, .small-files-list li.icon-comment { background-image: url(../images/icons/web-app/32/Comment.png); }

/*************** Extended infos list ************/

.extended-list > li {
	border-top: 1px dotted #afafaf;
	padding: 1.667em;
	position: relative;
	z-index: 89;
}

.extended-list > li:hover {
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background: url(../images/old-browsers-bg/favorites-bg.png) repeat-y;
	background: -moz-linear-gradient(
	                                top,
	                                rgba(0, 0, 0, 0.1),
	                                rgba(0, 0, 0, 0)
);
	background: -moz-linear-gradient(
	                                top,
	                                rgba(0, 0, 0, 0.1),
	                                rgba(0, 0, 0, 0)
);
	background-size: 100% 100%;
}

.extended-list > li:first-child { border-top: 0; }
	/* IE class */

.extended-list > li.first-child { border-top: 0; }

.extended-list > li > a,
.extended-list > li > span {
	display: block;
	float: left;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	min-height: 48px;
	padding-left: 54px;
	position: relative;
	white-space: nowrap;
}

body.dark .extended-list > li > a,
body.dark .extended-list > li > span { color: white; }

body.dark .block-content .extended-list > li > a,
body.dark .block-content .extended-list > li > span { color: #39c; }

.extended-list > li > a:hover,
body.dark .extended-list > li > a:hover,
body.dark .extended-list > li > span:hover,
body.dark .block-content .extended-list > li > a:hover,
body.dark .block-content .extended-list > li > span:hover { color: #33CCFF; }

.extended-list > li > a small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.667em;
	font-weight: normal;
	text-transform: none;
	vertical-align: 20%;
}

body.dark .extended-list > li > a small { color: #b0b0b0; }

body.dark .block-content .extended-list > li > a small { color: #808080; }

.extended-list > li > a .icon {
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	height: 48px;
	left: 0;
	position: absolute;
	top: 0;
	width: 48px;
}

.extended-list .extended-options { float: right; }

.extended-list .extended-options li {
	float: left;
	line-height: 1.75em;
	margin-left: 1.5em;
}

body.dark .extended-list .extended-options li { color: white; }

body.dark .block-content .extended-list .extended-options li { color: #333; }

.extended-list .extended-options li:first-child { margin-left: 0; }
			/* IE class */

.extended-list .extended-options li.first-child { margin-left: 0; }

.icon-user .icon, .icon.icon-user { background-image: url(../images/icons/web-app/48/Profile.png); }

.icon-image .icon, .icon.icon-image { background-image: url(../images/icons/web-app/48/Picture.png); }

.icon-chart .icon, .icon.icon-chart { background-image: url(../images/icons/web-app/48/Pie-Chart.png); }

.icon-printer .icon, .icon.icon-printer { background-image: url(../images/icons/web-app/48/Print.png); }

.icon-computer .icon, .icon.icon-computer { background-image: url(../images/icons/web-app/48/Loading.png); }

.icon-article .icon, .icon.icon-article { background-image: url(../images/icons/web-app/48/Modify.png); }

.icon-comment .icon, .icon.icon-comment { background-image: url(../images/icons/web-app/48/Comment.png); }

.icon-warning .icon, .icon.icon-warning { background-image: url(../images/icons/web-app/48/Warning.png); }

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.shortcuts-list:after,
.files:after,
.task .task-description:after,
.blocks-list > li:after,
.mini-blocks-list > li:after,
.icon-list:after,
.extended-list li:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
}

.shortcuts-list,
.files,
.task .task-description,
.blocks-list > li,
.mini-blocks-list > li,
.icon-list,
.extended-list li { display: inline-block; }

* html .shortcuts-list,
* html .files,
* html .task .task-description,
* html .blocks-list > li,
* html .mini-blocks-list > li,
* html .icon-list,
* html .extended-list li { height: 1%; }

.shortcuts-list,
.files,
.task .task-description,
.blocks-list > li,
.mini-blocks-list > li,
.icon-list,
.extended-list li { display: block; }