/**
 * Gallery styles
 */

.gallery.with-padding { padding: 2em 1em; }

.gallery li {
	color: #999999;
	float: left;
	height: 6em;
	line-height: 6em;
	text-align: center;
	vertical-align: middle;
	width: 9em;
}

.gallery li img {
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	-moz-transition: all 250ms;
	-o-transition: all 250ms;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	-webkit-transition: all 250ms;
	background: #efefef;
	background: rgba(0, 0, 0, 0.2);
	border: 1px solid white;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	margin-top: -4px;
	transition: all 250ms;
	vertical-align: middle;
}

.gallery li a:hover img {
	-moz-border-radius: 5px;
	-moz-transition: all 100ms;
	-o-transition: all 100ms;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 5px;
	-webkit-transition: all 100ms;
	border-radius: 5px;
	margin: -8px -5px -4px;
	padding: 4px;
	transition: all 100ms;
}

.gallery-preview {
	min-height: 92px;
	padding: 2em;
	position: relative;
	text-align: center;
	z-index: 89;
}

.gallery-preview img {
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-moz-transition: all 250ms;
	-o-transition: all 250ms;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-webkit-transition: all 250ms;
	background: #efefef;
	background: rgba(0, 0, 0, 0.2);
	border: 1px solid white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	margin-top: -4px;
	transition: all 250ms;
	vertical-align: middle;
}

.gallery-preview a:hover img {
	-moz-border-radius: 5px;
	-moz-transition: all 100ms;
	-o-transition: all 100ms;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 5px;
	-webkit-transition: all 100ms;
	border-radius: 5px;
	margin: -8px -5px -4px;
	padding: 4px;
	transition: all 100ms;
}

.gallery-preview .prev,
.gallery-preview .next {
	display: block;
	height: 92px;
	line-height: 92px;
	margin-top: -46px;
	position: absolute;
	top: 50%;
	width: 35px;
	z-index: 89;
}

.gallery-preview .prev img,
.gallery-preview .next img {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	background: none;
	border: 0;
	box-shadow: none;
	margin: 0;
}
		/* IE class */

.ie7 .gallery-preview .prev img,
.ie7 .gallery-preview .next img { margin-top: 40px; }

.gallery-preview .prev:hover img,
.gallery-preview .next:hover img {
	border: 0;
	margin: 0;
	padding: 0;
}
		/* IE class */

.ie7 .gallery-preview .prev:hover img,
.ie7 .gallery-preview .next:hover img { margin-top: 40px; }

.gallery-preview .prev {
	background: url(../../images/gallery-bt-prev.png) no-repeat 100px 0;
	left: 0;
}

.gallery-preview .prev:hover { background-position: 0 0; }

.gallery-preview .next {
	background: url(../../images/gallery-bt-next.png) no-repeat 100px 0;
	right: 0;
}

.gallery-preview .next:hover { background-position: 0 0; }

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.gallery:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
}

.gallery { display: inline-block; }

* html .gallery { height: 1%; }

.gallery { display: block; }