/**
 * Wizard styles
 */

.wizard-steps {
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background: #0c5fa3 url(../../images/old-browsers-bg/block-header-bg.png) repeat-x top;
	background: -moz-linear-gradient(
	                                top,
	                                #6dc3e6,
	                                #0c5fa3
);
	background: #0c5fa3 url(../../images/old-browsers-bg/block-header-bg.png) repeat-x top;
	background-size: 100% 100%;
	border: 1px solid #b5b3b4;
	border-top: 1px solid #9bd2ee;
	border-width: 1px 0;
	height: 6em;
	line-height: 5.5em;
	margin-left: -1.667em;
	margin-right: -1.667em;
	text-align: center;
}

.block-controls + .wizard-steps,
.no-margin + .wizard-steps { margin-top: -1.667em; }

.wizard-steps li {
	-moz-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
	-webkit-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
	background: url(../../images/wizard-head-effect.png) no-repeat right center;
	color: white;
	display: inline-block;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
	font-size: 2em;
	font-weight: bold;
	height: 100%;
	padding: 0 1.25em 0 0.75em;
	position: relative;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
	z-index: 89;
}
		/* IE class */

.ie7 .wizard-steps li { display: inline; }

.wizard-steps li:last-child {
	background: none;
	padding-right: 0.75em;
}
		/* IE class */

.wizard-steps li.last-child {
	background: none;
	padding-right: 0.75em;
}

.wizard-steps li.disabled {
	-moz-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
	-webkit-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
	color: rgba(255, 255, 255, 0.5);
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
}

.wizard-steps li a { color: white; }

.wizard-steps li.disabled a { color: rgba(255, 255, 255, 0.5); }

.wizard-steps li .number {
	-moz-background-size: 100% 100%;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	-moz-text-shadow: none;
	-moz-transition: all 100ms;
	-o-background-size: 100% 100%;
	-o-transition: all 100ms;
	-webkit-background-size: 100% 100%;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	-webkit-text-shadow: none;
	-webkit-transition: all 100ms;
	background: #0c5fa5 url(../../images/old-browsers-bg/number-bg.png) repeat-x top;
	background: #0c5fa5 url(../../images/old-browsers-bg/number-bg.png) repeat-x top;
	background: -webkit-gradient(
	                            linear,
	                            left top, left bottom,
	                            from(#72c6e4),
	                            to(#0c5fa5)
);
	background-size: 100% 100%;
	border: 1px solid white;
	bottom: -0.786em;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	float: none;
	font-size: 0.583em;
	left: 50%;
	line-height: 1em;
	margin: 0 0 0 -1.143em;
	padding: 0.286em 0;
	position: absolute;
	text-indent: 0;
	text-shadow: none;
	transition: all 100ms;
	width: 1.571em;
	z-index: 89;
}

.wizard-steps li:last-child .number { margin-left: -0.786em; }
			/* IE class */

.wizard-steps li.last-child .number { margin-left: -0.786em; }

.wizard-steps li a:hover .number { margin-bottom: 0.286em; }

.wizard-steps li.disabled .number {
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background: #dfdfdf url(../../images/old-browsers-bg/button-bg.png) repeat-x top;
	background: -moz-linear-gradient(
	                                top,
	                                #f6f6f6,
	                                #dfdfdf
);
	background: -moz-linear-gradient(
	                                top,
	                                #f6f6f6,
	                                #dfdfdf
);
	background-size: 100% 100%;
	color: #333333;
}

.wizard-steps li .number .status-ok,
.wizard-steps li .number .status-error,
.wizard-steps li .number .status-warning {
	background-repeat: no-repeat;
	height: 16px;
	position: absolute;
	right: -8px;
	top: -8px;
	width: 16px;
	z-index: 89;
}

.wizard-steps li .number .status-ok { background-image: url(../../images/icons/fugue/tick-circle.png); }

.wizard-steps li .number .status-error { background-image: url(../../images/icons/fugue/cross-circle.png); }

.wizard-steps li .number .status-warning { background-image: url(../../images/icons/fugue/exclamation-diamond.png); }

.block-content .wizard-steps + .no-margin { margin-top: -1.667em; }

.block-content .wizard-steps + .message.no-margin {
	border-top: none;
	margin-top: -1.667em;
}