/* @the 1200px grid
********************************************************************************************
********************************************************************************************/

.container,.container-inn {
width: 100%;
max-width: 1080px;
margin: 0 auto;
padding:0 0 0 0;
position:relative;
}

.container-inn {
    overflow: hidden;
}


.container-out {
	margin: 0 0 0 -10000px;
    max-width: 1080px;
    padding: 0 0 0 10000px;
    width: 100%;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol,.fifthcol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
margin-left:0;
float: left;
min-height: 1px;
overflow:hidden;
}

.fourcol {
width: 28%;
padding-right:0;
padding-left:3%;
float:left;
}

.threecol {
width: 22.7%;
padding:0;
margin:0 0 0 3%;
float:left;
margin-bottom:20px;
overflow:hidden;
}

.specfifthcol {
width: 37.6%;
}

.specfifthcol_last{ width:20%}

.eightcol {
width: 70%;
padding-right:0;
padding-left:0;
float:left;
}

.sixcol {
width: 50%;
}

.twelvecol {
width: 90%;
float: left;
}



.first {
margin-left: 0px;
}

object, embed {
max-width: 100%;
}



img {
	height: auto;
}


@media screen and (max-width: 1080px){

	.container{
	margin: 0 20px 0 20px;
	width:auto;
	}
	
	.inpost,
	ul#tabsmall{ margin: 0 0 0 0; left:0;}
	.inpost{ padding-left:20px; width:84%}
	ul#tabsmall{ width:102%;}
	ul#tabsmall li{ width:18%;}
	
	
	.small_posts img,
	ul.raws li img{ margin:0 auto 20px auto !important; float:none; width:100%; display:block;}
	
	img.raws_ad{ float:left;}
	
.bot-rating{ display:none}
	
	
}


/* Smaller screens */

@media screen and (max-width: 1026px){

.twins2col{ width:46%;}

ul.ad125 li{ margin:0 18px 8px 0;}

.big-rating{ display:none;}

img.raws_ad{ width:268px;}
	
}


@media screen and (max-width: 770px){

ul#tabsmallss>li.ui-tabs-selected,
.shadow-inset2,
a.sliderlink{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.big_single img{ width:45%;
	float:left;
	margin:0 5% 0 0 !important;
}

.big_single span.nr{ left:auto; right:0;}

.small_posts .meta{ display:none;}


.small_posts p.teaser { height:100px; overflow:hidden;}

#navigation{ position:relative; width:100%; float:left; top:auto; left:auto;}

#sec-nav>li>a{padding:22px 15px;}

#header ul.social-menu{ float:left;
	margin:18px 0 18px 0 !important;}

img.raws_ad{ width:196px;}
	
}


/* Mobile */



@media handheld, only screen and (max-width: 740px) {

body {
font-size: 16px;
-webkit-text-size-adjust: none;
}


.tabbig{ height:250px;}

.coinpost img{ max-width:1000px; margin:0 0 0 -500px; }

.coinpost h1,
.coinpost h1 span{ font-size:25px !important}



.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol,.fifthcol,
#sidebar,#homecontent,#singlecontent,#homeright,.headad
.tabitem
 {
width: auto;
float: none !important;
padding-left: 20px;
padding-right: 20px;
margin-left: 0;
margin-right: 0;
}

.container {
margin: 0 0;
}


#header{ position:relative;
float:none;
width:89%;
padding:20px 5%;
}

#header h1{ float:none; width:100%; text-align:center; margin:0 0 0 0;}

a.logo img{ display:block; margin:0 auto 20px auto; float:none; overflow:hidden}

#headtop{ border:none;}

#navigation,
#sec-nav{ display:none;}

#searchelement,
sec-nav{ display:none}

#main-nav{ width:100%; padding:0 0 0 0; float:none;}

.nav>li,
.nav>li:first-child{ width:90%; padding:0 5% !important; border-bottom:1px dotted #ddd;}

#sec-nav>li:first-child{ display:none;}

#sec-nav{ margin-bottom:40px;}

.nav>li>a{ padding:15px 0 !important; background:none}

.nav li ul{ width:90%;}

#header ul.social-menu{ width:205px; float:none; margin:20px auto !important;}

h2.widget{ text-align:center;}

.twins2col h2.widget{ text-align:center; width:100%; height:auto;}

.twins2col,.twins2col h2.widget,.big_single,.small_posts,.small_posts_alt,ul.raws,ul.raws li,ul.related{ width:100%;}

.big_single{ margin-bottom:40px;}

.big_single img{ margin:0 auto 20px auto !important; float:none; width:100%;}

.small_posts,
ul.raws li,
.related li{ margin:0 auto 40px auto !important; float:none; width:230px;}

.small_posts_alt{ border:none; padding: 0 0 20px 0;}

.small_posts p.teaser { height: auto;}

img.raws_ad{ width:300px;}

.searchformhead{ float:none; position:relative; top:auto; right:auto; width:60%; margin:40px auto 0 auto;}

ul#serinfo {
position: relative;
z-index: 5;
}

.post iframe{ width:100%;}

#copyright{ padding:0 5%;}

.coinpost iframe{ height:350px;}

.scrollTo_top,
.top-rating{ display:none !important; visibility:hidden !important;}

}


@media only screen and (max-width: 639px) {
	

.scrollTo_top{ visibility:hidden; display:none}

.centerrow .centerthreecol img{ width:auto;}

.tmnf-sc-quote.left,
.tmnf-sc-quote.right{ width:100%; float:none; margin-left:0; margin-right:0}


.contact-form .forms textarea,
.contact-form .forms input.txt{ width:100%; float:none; margin-left:0; margin-right:0; padding-left:0; padding-right:0}

.contact-form .forms label{ margin-bottom:10px}

.contact-form .forms .buttons .submit,
.contact-form .forms input#sendCopy{ margin-left:0;}

a.trigger{ display:none;}

.tabbig_small iframe,
.slides iframe{height:320px; }

} 



@media only screen and (max-width: 490px) {

.archivepost img,.fblock img{ float:none; clear:both; margin:0 auto 10px auto !important; display:block;}

.archivepost .ribbon,.archivepost .ribbon_icon{ display:none;}

.ratingblock{ width:87%; padding:30px 6% 15px 6%}

#coinslid{ padding:0 0 0 0;}

.tabbig_small iframe,
.slides iframe{height:230px; }

.coinpost img{ max-width:800px; margin:0 0 0 -400px; }

.coinpost img.attachment-coin{ max-width:1200px; margin:0 0 0 -600px; }

.coinpost iframe{ height:250px;}

ul#tabsmall{ height:auto; position:relative; width:101%;}

ul#tabsmall li{ width:43.5%; text-align: center;}

ul#tabsmall li .meta{text-align: center;}

.widgetflexslider h3{padding-right: 10px;}

.comment-form-author, .comment-form-email, .comment-form-url{ width:100%;}

#respond textarea{ width:90%}

.widgetflexslider .meta,
.inpost2{ display:none;}


.stuff{ padding:10px 5% 15px 5%}
.stuff h2{ font-size:14px;}
.stuff p.teaser{ display:none;}

img.raws_ad{ width:100%;}

img.alignleft,
img.alignright,
img.aligncenter,
.wp-caption,
.wp-caption img{ width:100%; margin:5px 0 30px 0;}

}