/*  

You cannot edit main style.css file.

All your custom style settings and tweaks can be placed here.

Backup this file before theme update - so after update can be restored!
 
*/
.customcat,
.Games,
.Apps,
.Computers,
.Devices,
.TVs,
.Cameras,
.Hosting,
.Phones,
.Software,
.Gadgets,
.Movies,
.TV,
.Products,
.Cars,
.Houses,
.Accommodations,
.Books,
.Food{ color:#fff !important; margin-right:5px;}

.Games{ background-color:#434C53 !important;}
.Apps{ background-color:#FFB940 !important;}
.Computers{ background-color:#FFA18B !important;}
.Devices{ background-color:#D8DAD5 !important;}
.TVs{ background-color:#97B663 !important;}
.Cameras{ background-color:#CF5E3E !important;}
.Hosting{ background-color:#B2C873 !important;}
.Phones{ background-color:#DB4D4D !important;}
.Software{ background-color:#9ADBFB !important;}
.Gadgets{ background-color:#715B50 !important;}
.Books{ background-color:#B74F42 !important;}
.Movies{ background-color:#B9573C !important;}
.TV{ background-color:#8E7356 !important;}
.Products{ background-color:#76919C !important;}
.Cars{ background-color:#476A93 !important;}
.Houses{ background-color:#ADB6BE !important;}
.Accommodations{ background-color:#3879B1 !important;}
.Food{ background-color:#A0AA37 !important;}
.customcat{ background-color:#446C86 !important;}