<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.2.1" targetFramework="net45" />
  <package id="BuildingBlocks.Common" version="1.0.0.55" targetFramework="net45" />
  <package id="BuildingBlocks.Membership" version="1.0.0.55" targetFramework="net45" />
  <package id="BuildingBlocks.Membership.RavenDB" version="1.0.0.55" targetFramework="net45" />
  <package id="BuildingBlocks.Query" version="1.0.0.55" targetFramework="net45" />
  <package id="BuildingBlocks.Store" version="1.0.0.55" targetFramework="net45" />
  <package id="BuildingBlocks.Store.RavenDB" version="1.0.0.55" targetFramework="net45" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.0.2261" targetFramework="net45" />
  <package id="RavenDB.Database" version="2.0.2261" targetFramework="net45" />
  <package id="RavenDB.Embedded" version="2.0.2261" targetFramework="net45" />
  <package id="System.Linq.Dynamic" version="1.0.0" targetFramework="net45" />
</packages>