/**
 * Styles for the standard template
 */

html {
	min-height: 100%;
	overflow-x: hidden;
}

body {
	background: url(../images/bg.png) no-repeat center top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	min-height: 100%;
}

textarea, input { font-family: Verdana, Arial, Helvetica, sans-serif; }

/**************** Generic classes ***************/

h2.bigger, h3.bigger,
h2.big, h3.big { font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif; }

/******************* Columns ********************/

.columns {
	margin-bottom: 1.667em;
	position: relative;
}

.columns:last-child { margin-bottom: 0; }
/** IE class **/

.columns.last-child { margin-bottom: 0; }

/* 2 columns */

.colx2-left {
	float: left;
	margin-bottom: 0;
	width: 48%;
}

.colx2-right {
	float: right;
	margin-bottom: 0;
	width: 48%;
}

/* 3 columns */

.colx3-left {
	float: left;
	margin-bottom: 0;
	width: 31%;
}

.colx3-left-double {
	float: left;
	margin-bottom: 0;
	width: 65.5%;
}

.colx3-center {
	float: left;
	margin-bottom: 0;
	margin-left: 3.5%;
	width: 31%;
}

.colx3-right {
	float: right;
	margin-bottom: 0;
	width: 31%;
}

.colx3-right-double {
	float: right;
	margin-bottom: 0;
	width: 65.5%;
}

/* 200px fixed-width left column */

.col200pxL-left {
	float: left;
	width: 200px;
}

.col200pxL-bottom {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 180px;
}

.col200pxL-right { margin-left: 200px; }
/* 200px fixed-width right column */

.col200pxR-left { margin-right: 200px; }

.col200pxR-bottom {
	bottom: 0;
	position: absolute;
	right: 0;
	width: 180px;
}

.col200pxR-right {
	float: right;
	width: 200px;
}


/************* Button-style images **************/

.button img,
.form legend img,
.legend img,
.mini-menu img { margin-bottom: -4px; }

/******************** Header ********************/

header {
	color: #666666;
	left: 0;
	position: absolute;
	text-align: right;
	text-transform: uppercase;
	top: 0;
	white-space: nowrap;
	width: 100%;
	z-index: 88;
}

header .server-info {
	-moz-background-size: 100% 100%;
	-moz-border-radius: 0 0 0.4em 0.4em;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
	-o-background-size: 100% 100%;
	-webkit-background-clip: padding-box;
	-webkit-background-size: 100% 100%;
	-webkit-border-radius: 0.4em;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
	background: -webkit-gradient(
	                            linear,
	                            left top, left bottom,
	                            from(rgba(64, 64, 64, 0.3)),
	                            to(rgba(255, 255, 255, 0.2))
);
	background: -moz-linear-gradient(
	                                top,
	                                rgba(64, 64, 64, 0.3),
	                                rgba(255, 255, 255, 0.2)
);
	background: -webkit-gradient(
	                            linear,
	                            left top, left bottom,
	                            from(rgba(64, 64, 64, 0.3)),
	                            to(rgba(255, 255, 255, 0.2))
);
	background-size: 100% 100%;
	border-radius: 0 0 0.4em 0.4em;
	border-top: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
	color: white;
	display: inline-block;
	font-size: 0.833em;
	height: 2.6em;
	line-height: 2.6em;
	margin-left: 0.5em;
	padding: 0 1em;
	vertical-align: top;
}

.ie7 header .server-info {
	display: inline;
	zoom: 1;
}

#skin-name {
	color: #B0B0B0;
	color: rgba(255, 255, 255, 0.75);
	display: inline-block;
	margin: 0 0.7em 0 0;
}

.ie7 #skin-name {
	display: inline;
	zoom: 1;
}

#skin-name small {
	color: #B0B0B0;
	color: rgba(255, 255, 255, 0.75);
	float: left;
	font-size: 0.75em;
	line-height: 1.111em;
	padding-top: 0.555em;
	text-align: right;
	text-transform: uppercase;
}

#skin-name strong {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
	font-size: 2em;
	letter-spacing: -0.09em;
	line-height: 1.333em;
	margin-left: 0.167em;
}

.ie #skin-name strong { padding-right: 0.083em; }

nav {
	-moz-background-size: 100% 100%;
	-moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
	background: #3399cc url(../images/old-browsers-bg/main-nav-bg.png) repeat-x bottom;
	background: -moz-linear-gradient(top, #014a7d, #3399cc);
	background: -moz-linear-gradient(top, #014a7d, #3399cc);
	background-size: 100% 100%;
	box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
	height: 69px;
	padding-top: 1.25em;
}

nav > ul {
	padding-top: 4px;
	position: relative;
	z-index: 100;
}

nav > ul > li {
	background-position: center -54px;
	background-repeat: no-repeat;
	float: left;
	height: 69px;
	width: 64px;
}

nav > ul > li > a {
	-moz-transition: opacity 2s;
	-o-transition: opacity 2s;
	-webkit-transition: opacity 2s;
	background-position: 8px 14px;
	background-repeat: no-repeat;
	display: block;
	filter: alpha(opacity=0);
	height: 69px;
	opacity: 0;
	overflow: hidden;
	text-indent: 200px;
	transition: opacity 2s;
}

nav > ul > li.home, nav > ul > li.home > a { background-image: url(../images/icons/home_2states.png); }

nav > ul > li.write, nav > ul > li.write > a { background-image: url(../images/icons/write_2states.png); }

nav > ul > li.comments, nav > ul > li.comments > a { background-image: url(../images/icons/comments_2states.png); }

nav > ul > li.medias, nav > ul > li.medias > a { background-image: url(../images/icons/medias_2states.png); }

nav > ul > li.users, nav > ul > li.users > a { background-image: url(../images/icons/users_2states.png); }

nav > ul > li.stats, nav > ul > li.stats > a { background-image: url(../images/icons/stats_2states.png); }

nav > ul > li.settings, nav > ul > li.settings > a { background-image: url(../images/icons/settings_2states.png); }

nav > ul > li.backup, nav > ul > li.backup > a { background-image: url(../images/icons/backup_2states.png); }

nav > ul > li.current {
	background: url(../images/tab-bg.png) no-repeat;
	margin: 0 -8px -13px -8px;
	padding: 0 8px 13px 8px;
}

nav > ul > li.current > a,
nav > ul > li > a:hover {
	-moz-transition: all 100ms;
	-o-transition: all 100ms;
	-webkit-transition: all 100ms;
	filter: none;
	opacity: 1;
	transition: all 100ms;
}

nav > ul > li > ul {
	background: none;
	display: none;
	left: 0;
	padding-top: 0.333em;
	position: absolute;
	top: 70px;
}

nav > ul > li.current > ul { display: block; }

nav > ul > li > ul > li,
#sub-nav a.nav-button {
	-moz-background-size: 100% 100%;
	-moz-border-radius: 0.417em;
	-moz-box-shadow: 0 0 7px #000000;
	-moz-transition: all 1s;
	-o-background-size: 100% 100%;
	-o-transition: all 1s;
	-webkit-background-clip: padding-box;
	-webkit-background-size: 100% 100%;
	-webkit-border-radius: 0.417em;
	-webkit-box-shadow: 0 0 7px #000000;
	-webkit-transition: all 1s;
	background: #465a6e url(../images/old-browsers-bg/subnav-bt-border-bg.png) repeat-x;
	background: -moz-linear-gradient(top, #9faab6, #465a6e);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9faab6), to(#465a6e));
	background-size: 100% 100%;
	border-radius: 0.417em;
	box-shadow: 0 0 7px #000000;
	color: white;
	display: block;
	float: left;
	font-size: 0.833em;
	height: 2.2em;
	line-height: 2.2em;
	margin-right: 0.5em;
	padding: 0.1em;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 1s;
	width: auto;
}

nav > ul > li > ul > li.current {
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-moz-box-shadow: none;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-webkit-box-shadow: none;
	background: #dadada url(../images/old-browsers-bg/subnav-current-bt-border-bg.png) repeat-x;
	background: -moz-linear-gradient(
	                                top,
	                                white,
	                                #dadada 7%,
	                                #dadada
);
	background: -webkit-gradient(
	                            linear,
	                            left top, left bottom,
	                            from(white),
	                            to(#dadada),
	                            color-stop(0.07, #dadada)
);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: none;
	color: #333;
	height: 3.1em;
	line-height: 3.1em;
	padding: 0;
}

nav > ul > li > ul > li > a,
#sub-nav a.nav-button > b {
	-moz-border-radius: 0.3em;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 0.3em;
	-webkit-transition: all 1s;
	border-radius: 0.3em;
	color: white;
	display: block;
	font-weight: normal;
	height: 2.2em;
	line-height: 2.2em;
	padding: 0 1em;
	text-decoration: none;
	text-indent: 0;
	transition: all 1s;
	width: auto;
}

nav > ul > li > ul > li > a,
#sub-nav a.nav-button > b,
nav > ul > li > ul > li .menu {
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background: #1d2a36 url(../images/old-browsers-bg/subnav-bt-bg.png) repeat-x !important;
	background: -moz-linear-gradient(top, #858d95, #46505b 50%, #38424d 50%, #1c2733) !important;
	background: -moz-linear-gradient(top, #858d95, #46505b 50%, #38424d 50%, #1c2733) !important;
	background-size: 100% 100%;
}

nav > ul > li > ul > li.current > a {
	background: none !important;
	color: #333;
	height: 2.8em;
	line-height: 2.8em;
}

nav > ul > li > ul > li:hover,
#sub-nav a.nav-button:hover {
	-moz-background-size: 100% 100%;
	-moz-transition: all 100ms;
	-o-background-size: 100% 100%;
	-o-transition: all 100ms;
	-webkit-background-size: 100% 100%;
	-webkit-transition: all 100ms;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cbe9f7), to(#6dc0e5));
	background: -moz-linear-gradient(top, #cbe9f7, #6dc0e5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cbe9f7), to(#6dc0e5));
	background-size: 100% 100%;
	transition: all 100ms;
}

nav > ul > li > ul > li.current:hover {
	background: #dadada url(../images/old-browsers-bg/subnav-current-bt-border-bg.png) repeat-x;
	background: -moz-linear-gradient(
	                                top,
	                                white,
	                                #dadada 7%,
	                                #dadada
);
	background: -webkit-gradient(
	                            linear,
	                            left top, left bottom,
	                            from(white),
	                            to(#dadada),
	                            color-stop(0.07, #dadada)
);
}

nav > ul > li > ul > li > a:hover,
#sub-nav a.nav-button:hover > b,
nav > ul > li > ul > li .menu:hover {
	-moz-background-size: 100% 100%;
	-moz-box-shadow: 0 0 7px #cbe9f7;
	-moz-transition: all 100ms;
	-o-background-size: 100% 100%;
	-o-transition: all 100ms;
	-webkit-background-size: 100% 100%;
	-webkit-box-shadow: 0 0 7px #cbe9f7;
	-webkit-transition: all 100ms;
	background: #305d79 url(../images/old-browsers-bg/subnav-bt-hover-bg.png) repeat-x !important;
	background: -moz-linear-gradient(left, rgba(109, 192, 229, 0), rgba(109, 192, 229, 0.2) 25%, rgba(109, 192, 229, 0.4) 50%, rgba(109, 192, 229, 0.3) 75%, rgba(109, 192, 229, 0)),
	            -moz-linear-gradient(top, #afc2cf, #537288 50%, #45667c 50%, #2c526b) !important;
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(109, 192, 229, 0)), to(rgba(109, 192, 229, 0)), color-stop(.25, rgba(109, 192, 229, 0.3)), color-stop(.5, rgba(109, 192, 229, 0.4)), color-stop(.75, rgba(109, 192, 229, 0.3))),
	            -webkit-gradient(linear, 0% 0%, 0% 100%, from(#afc2cf), to(#2c526b), color-stop(.5, #537288), color-stop(.5, #45667c)) !important;
	background-size: 100% 100%;
	box-shadow: 0 0 7px #cbe9f7;
	transition: all 100ms;
}

nav > ul > li > ul > li.current > a:hover {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	background: none !important;
	box-shadow: none;
	color: #666;
}

#sub-nav {
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background: black url(../images/old-browsers-bg/subnav-bg.png) repeat-x;
	background: -moz-linear-gradient(top, #303135, #3c3d42 6%, #404447 18%, #34383b 50%, #25292c 50%, #1a1b1f 63%, black);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#303135), to(black), color-stop(.06, #3c3d42), color-stop(.18, #404447), color-stop(.5, #34383b), color-stop(.5, #25292c), color-stop(.63, #1a1b1f));
	background-size: 100% 100%;
	border-top: 1px solid #ff6500;
	color: white;
	height: 2.667em;
	line-height: 2.667em;
	text-align: right;
}

#sub-nav a.nav-button {
	float: right;
	margin: 0.417em 0 0 1em;
}
	/* IE class */

.ie7 #sub-nav a.nav-button { margin-top: 0.333em; }

#status-bar {
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background: white url(../images/old-browsers-bg/status-bar-bg.png) repeat-x;
	background: -moz-linear-gradient(top, white, #dadada 6%, white 92%, #cfcfcf);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#cfcfcf), color-stop(.05, #dadada), color-stop(.92, white));
	background-size: 100% 100%;
	border-bottom: 1px solid #969696;
	color: #7b7b7b;
	height: 3.25em;
	line-height: 3.167em;
	text-align: right;
}

#status-infos {
	float: right;
	margin-bottom: 0;
}

#status-infos > li {
	float: left;
	margin-left: 0.5em;
	position: relative;
	z-index: 90;
}

#status-infos > li.spaced { padding-right: 0.5em; }

#breadcrumb {
	-moz-background-size: 100% 100%;
	-moz-border-radius: 0.417em;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-o-background-size: 100% 100%;
	-webkit-background-clip: padding-box;
	-webkit-background-size: 100% 100%;
	-webkit-border-radius: 0.417em;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	background: #0c5fa5 url(../images/old-browsers-bg/breadcrumb-bg.png) repeat-x;
	background: -moz-linear-gradient(
	                                top,
	                                white,
	                                #72c6e4 5%,
	                                #0c5fa5
);
	background: -webkit-gradient(
	                            linear,
	                            left top, left bottom,
	                            from(white),
	                            to(#0c5fa5),
	                            color-stop(0.05, #72c6e4)
);
	background-size: 100% 100%;
	border: 1px solid;
	border-color: #0099cc #006699 #003366;
	border-radius: 0.417em;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	float: left;
	height: 1.75em;
	line-height: 1.5em;
	margin: 0.667em 1em 0 0;
}

#breadcrumb li {
	background: url(../images/breadcrumb-sep.png) no-repeat right center;
	color: white;
	float: left;
	height: 1.75em;
	padding: 0.083em 1em 0 0;
}

#breadcrumb li:last-child {
	background: none;
	padding-right: 0;
}
			/* IE class */

#breadcrumb li.last-child {
	background: none;
	padding-right: 0;
}

#breadcrumb li a,
#breadcrumb li span {
	-moz-transition-duration: 1s;
	-webkit-transition-duration: 1s;
	color: white;
	display: block;
	height: 1.667em;
	padding: 0 0.75em 0 0.667em;
	text-decoration: none;
	transition-duration: 1s;
}

#breadcrumb li a:hover {
	-moz-transition-duration: 100ms;
	-webkit-transition-duration: 100ms;
	background: -moz-linear-gradient(left, rgba(109, 192, 229, 0), rgba(109, 192, 229, 0.8) 25%, rgba(109, 192, 229, 1) 50%, rgba(109, 192, 229, 0.8) 75%, rgba(109, 192, 229, 0));
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(109, 192, 229, 0)), to(rgba(109, 192, 229, 0)), color-stop(.25, rgba(109, 192, 229, 0.8)), color-stop(.5, rgba(109, 192, 229, 1)), color-stop(.75, rgba(109, 192, 229, 0.8)));
	transition-duration: 100ms;
}

#breadcrumb li img { margin-bottom: -4px; }

#header-shadow {
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background: url(../images/old-browsers-bg/status-bar-shadow.png) repeat-x;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0));
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)), color-stop(.3, rgba(0, 0, 0, 0.1)));
	background-size: 100% 100%;
	height: 0.75em;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 87;
}

/***************** Result block *****************/

.result-block {
	-moz-border-radius: 0.5em;
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 0.5em;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	background: white;
	border-radius: 0.5em;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	color: #333333;
	line-height: 1em;
	min-width: 20em;
	padding: 1em;
	position: absolute;
	right: -0.25em;
	text-align: left;
	top: 1.667em;
	z-index: 90;
}
	/* IE class */

.ie .result-block { border: 1px solid #ccc; }

#status-infos .result-block {
	display: none;
	top: 2.667em;
}

#status-infos > li:hover .result-block { display: block; }

.result-block h2 {
	color: black;
	float: left;
}

.result-block div { margin-bottom: 1.667em; }

.result-block div:last-child { margin-bottom: 0; }
		/* IE class */

.result-block div.last-child { margin-bottom: 0; }

.result-block .arrow {
	border-bottom: 5px solid #666666;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	font-size: 0;
	line-height: 0;
	position: absolute;
	right: 20px;
	top: -5px;
	width: 0;
	z-index: 89;
}

.result-block .arrow span {
	border-bottom: 4px solid white;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	bottom: -5px;
	left: -2px;
	position: absolute;
	width: 0;
	z-index: 89;
}

.result-block .results-count {
	color: #b0b0b0;
	float: right;
	font-size: 0.75em;
	margin-left: 1em;
	text-transform: uppercase;
	white-space: nowrap;
}

.result-block .results-count strong { color: #999999; }

.result-block ul { clear: both; }

.result-block ul li { white-space: nowrap; }

.search-more,
.search-less {
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background: url(../images/old-browsers-bg/search-more-shadow.png) no-repeat center bottom;
	background: -moz-linear-gradient(
	                                top,
	                                rgba(255, 255, 255, 1),
	                                rgba(255, 255, 255, 0)
), -moz-linear-gradient(
                       left,
                       #ffffff,
                       #ebebeb 50%,
                       #ffffff
);
	background: -webkit-gradient(
	                            linear,
	                            left top, left bottom,
	                            from(rgba(255, 255, 255, 1)),
	                            to(rgba(255, 255, 255, 0))
), -webkit-gradient(
                   linear,
                   left top, right top,
                   from(#ffffff),
                   to(#ffffff),
                   color-stop(0.5, #ebebeb)
);
	background-size: 100% 100%;
	color: #999999;
	display: block;
	font-size: 0.75em;
	padding: 0.333em 0;
	text-align: center;
	text-transform: uppercase;
}

.search-more:hover,
.search-less:hover { color: #3399cc; }

ul + .search-more,
ul + .search-less { margin-top: -1.333em; }

ul.small-pagination + .search-more,
ul.small-pagination + .search-less { margin-top: -0.667em; }

.search-more:before {
	content: url(../images/search-more-arrow.png);
	padding-right: 0.556em;
}

.search-more:hover:before { content: url(../images/search-more-arrow-hover.png); }

.search-more:after {
	content: url(../images/search-more-arrow.png);
	padding-left: 0.556em;
}

.search-more:hover:after { content: url(../images/search-more-arrow-hover.png); }

.search-less:before {
	content: url(../images/search-less-arrow.png);
	padding-right: 0.556em;
}

.search-less:hover:before { content: url(../images/search-less-arrow-hover.png); }

.search-less:after {
	content: url(../images/search-less-arrow.png);
	padding-left: 0.556em;
}

.search-less:hover:after { content: url(../images/search-less-arrow-hover.png); }

.result-block hr {
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background: #ffffff url(../images/old-browsers-bg/search-sep-bg.png) repeat-y left;
	background: -moz-linear-gradient(
	                                left,
	                                #ffffff,
	                                #cccccc 50%,
	                                #ffffff
);
	background: #ffffff url(../images/old-browsers-bg/search-sep-bg.png) repeat-y left;
	background-size: 100% 100%;
	border: 0;
	clear: both;
	height: 1px;
	line-height: 1px;
	margin-top: 0;
}

.result-block .result-info {
	-moz-border-radius: 0 0 0.5em 0.5em;
	-webkit-border-bottom-left-radius: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
	background: #333333;
	border-radius: 0 0 0.5em 0.5em;
	color: white;
	margin: 0 -1em -1em -1em;
	padding: 0.417em 0.75em 0.583em;
	white-space: nowrap;
}

.result-block .result-info a { color: #77ccff; }

.result-block .arrow:first-child + .result-info:last-child {
	-moz-border-radius: 0.5em;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
	border-top: 1px solid #999999;
	margin-top: -1em;
}
		/* IE class */

.result-block .result-info.first-last-child {
	border-top: 1px solid #999999;
	margin-top: -1em;
}

.result-block div + .result-info,
.result-block p + .result-info,
.result-block ul + .result-info { margin-top: -0.5em; }

.result-block .result-info.loading {
	background: #333333 url(../images/table-loader.gif) no-repeat 0.75em center;
	padding-left: 2.667em;
}

/***************** Search block *****************/

#search-form {
	display: inline;
	position: relative;
	z-index: 91;
}

/********** Always visible control bar **********/

#control-bar {
	padding: 1em 0;
	text-align: center;
}

#control-bar.grey-bg {
	-moz-background-size: 100% 100%;
	-moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.35);
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.35);
	background: url(../images/old-browsers-bg/control-bar-bg.png) repeat-x;
	background: -moz-linear-gradient(
	                                top,
	                                rgba(0, 0, 0, 0.2),
	                                rgba(0, 0, 0, 0.1)
);
	background: -moz-linear-gradient(
	                                top,
	                                rgba(0, 0, 0, 0.2),
	                                rgba(0, 0, 0, 0.1)
);
	background-size: 100% 100%;
	border-bottom: 1px solid #efefef;
	border-bottom: 1px solid rgba(255, 255, 255, 0.65);
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.35);
}

#cb-place-holder { display: none; }

#control-bar.fixed {
	background: url(../images/old-browsers-bg/black50.png);
	background: rgba(0, 0, 0, 0.5);
	left: 0;
	margin: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999950;
}

#control-bar.fixed.grey-bg {
	-moz-border-radius: 0;
	-moz-box-shadow: none;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 0;
	-webkit-box-shadow: none;
	border: 0;
	border-radius: 0;
	box-shadow: none;
}

/**************** Standard block ****************/

article { margin-top: 3em; }

#control-bar + article,
#cb-place-holder + article { margin-top: 2em; }

.block-content h1,
.block-content .h1 {
	-moz-border-radius: 0.278em;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 0.278em;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	border-radius: 0.278em;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	left: 0.5em;
	margin: 0;
	position: absolute;
	top: -0.444em;
	z-index: 100;
}
	/* IE class */

.ie .block-content h1,
.ie .block-content .h1 { padding: 0.333em 0.444em; }

.block-content .h1 h1 {
	-moz-border-radius: 0;
	-moz-box-shadow: none;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 0;
	-webkit-box-shadow: none;
	border-radius: 0;
	box-shadow: none;
	left: 0;
	padding: 0;
	position: relative;
	top: 0;
	z-index: 1;
}

.block-content h1 > a,
.block-content .h1 > a {
	-moz-background-size: 100% 100%;
	-moz-border-radius: 0.286em;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-o-background-size: 100% 100%;
	-webkit-background-clip: padding-box;
	-webkit-background-size: 100% 100%;
	-webkit-border-radius: 0.286em;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	background: #40535c url(../images/old-browsers-bg/title-link-bg.png) repeat-x top;
	background: -moz-linear-gradient(
	                                top,
	                                white,
	                                #9eb1ba 4%,
	                                #40535c
);
	background: #40535c url(../images/old-browsers-bg/title-link-bg.png) repeat-x top;
	background-size: 100% 100%;
	border: 1px solid;
	border-color: #7e9098 #61727b #2b373d;
	border-radius: 0.286em;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	color: #cccccc;
	display: block;
	font-size: 0.778em;
	left: 100%;
	line-height: 1.143em;
	margin-left: 0.5em;
	padding: 0.5em 0.571em;
	position: absolute;
	text-transform: uppercase;
	top: -1px;
	white-space: nowrap;
}
		/* IE class */

.ie7 .block-content h1 > a,
.ie7 .block-content .h1 > a { padding: 0.429em 0.571em; }

.block-content h1 > a:hover,
.block-content .h1 > a:hover {
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background: #057fdb url(../images/old-browsers-bg/title-link-hover-bg.png) repeat-x top;
	background: -moz-linear-gradient(
	                                top,
	                                white,
	                                #2bcef3 4%,
	                                #057fdb
);
	background: -webkit-gradient(
	                            linear,
	                            left top, left bottom,
	                            from(white),
	                            to(#057fdb),
	                            color-stop(0.03, #2bcef3)
);
	background-size: 100% 100%;
	border-color: #1eafdc #1193d5 #035592;
	color: white;
}

.block-content h1 > a img,
.block-content .h1 > a img { margin-bottom: -3px; }

.red .block-content h1 > a:hover,
.red .block-content .h1 > a:hover,
.block-content.red h1 > a:hover,
.block-content.red .h1 > a:hover,
.block-content .red h1 > a:hover,
.block-content .red .h1 > a:hover,
.block-content h1.red > a:hover,
.block-content .h1.red > a:hover {
	background: #9d0404 url(../images/old-browsers-bg/button-element-red-hover-bg.png) repeat-x top;
	background: #9d0404 url(../images/old-browsers-bg/button-element-red-hover-bg.png) repeat-x top;
	background: -moz-linear-gradient(
	                                top,
	                                white,
	                                #fe6565 4%,
	                                #9d0404
);
	border-color: #c24949 #9d3d3d #590909;
}

.block-content { padding-top: 2.833em; }

.block-content.no-title { padding-top: 1.667em; }

.block-content.no-padding.no-title { padding-top: 0; }

/***************** Block header *****************/

.block-header { font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif; }

.block-content .block-header:first-child,
.block-content h1:first-child + .block-header,
.block-content .h1:first-child + .block-header {
	-moz-border-radius: 0.083em 0.083em 0 0;
	-webkit-border-top-left-radius: 0.083em;
	-webkit-border-top-right-radius: 0.083em;
	border-radius: 0.083em 0.083em 0 0;
	margin-top: -1.417em;
}
/* IE class */

.block-content .block-header.first-child,
.block-content .block-header.after-h1 { margin-top: -1.417em; }

.block-content.no-title .block-header:first-child { margin-top: -0.833em; }
/* IE class */

.block-content.no-title .block-header.first-child { margin-top: -0.833em; }

.block-content.no-padding .block-header:first-child { margin-top: 0; }
/* IE class */

.block-content.no-padding .block-header.first-child { margin-top: 0; }

/***************** Wizard tweak *****************/

.block-content .wizard-steps:first-child,
.block-content h1:first-child + .wizard-steps,
.block-content .h1:first-child + .wizard-steps {
	-moz-border-radius: 0.167em 0.167em 0 0;
	-webkit-border-top-left-radius: 0.167em;
	-webkit-border-top-right-radius: 0.167em;
	border-radius: 0.167em 0.167em 0 0;
	margin-top: -2.833em;
}
/* IE class */

.block-content .wizard-steps.first-child,
.block-content .wizard-steps.after-h1 { margin-top: -2.833em; }

.block-content.no-title .wizard-steps:first-child { margin-top: -1.667em; }
/* IE class */

.block-content.no-title .wizard-steps.first-child { margin-top: -1.667em; }

.block-content.no-padding .wizard-steps:first-child { margin-top: 0; }
/* IE class */

.block-content.no-padding .wizard-steps.first-child { margin-top: 0; }

/**************** Block controls ****************/

.block-content .block-controls:first-child,
.block-content h1:first-child + .block-controls,
.block-content .h1:first-child + .block-controls {
	-moz-border-radius-topleft: 0.2em;
	-moz-border-radius-topright: 0.2em;
	-webkit-border-top-left-radius: 0.2em;
	-webkit-border-top-right-radius: 0.2em;
	border-top-left-radius: 0.2em;
	border-top-right-radius: 0.2em;
	margin-top: -2.833em;
}
/* IE class */

.block-content .block-controls.first-child,
.block-content .block-controls.after-h1 { margin-top: -2.833em; }

.block-content.no-title .block-controls:first-child { margin-top: -1.667em; }
/* IE class */

.block-content.no-title .block-controls.first-child { margin-top: -1.667em; }

.block-content.no-padding .block-controls:first-child { margin-top: 0; }
/* IE class */

.block-content.no-padding .block-controls.first-child { margin-top: 0; }

.block-content .block-controls:first-child ul.controls-tabs li:last-child a,
.block-content h1:first-child + .block-controls ul.controls-tabs li:last-child a,
.block-content .h1:first-child + .block-controls ul.controls-tabs li:last-child a {
	-moz-border-radius-topright: 0.2em;
	-webkit-border-top-right-radius: 0.2em;
	border-top-right-radius: 0.2em;
}
/* IE class */

.block-content .block-controls.first-child ul.controls-tabs li.last-child a,
.block-content .block-controls.after-h1 ul.controls-tabs li.last-child a {
	-moz-border-radius-topright: 0.2em;
	-webkit-border-top-right-radius: 0.2em;
	border-top-right-radius: 0.2em;
}

.block-content.no-padding .block-controls:last-child {
	-moz-border-radius-bottomleft: 0.2em;
	-moz-border-radius-bottomright: 0.2em;
	-webkit-border-bottom-left-radius: 0.2em;
	-webkit-border-bottom-right-radius: 0.2em;
	border-bottom-left-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
}

/****************** Action tabs *****************/

.action-tabs {
	overflow: hidden;
	padding-top: 2em;
	position: absolute;
	right: 100%;
	width: 3em;
	z-index: 89;
}

.block-border > .action-tabs,
.block-content > .action-tabs { margin-right: 1px; }

.action-tabs.right {
	left: 100%;
	right: auto;
}

.block-border > .action-tabs.right,
.block-content > .action-tabs.right {
	margin-left: 1px;
	margin-right: 0;
}

.action-tabs li {
	-moz-border-radius: 0.5em 0 0 0.5em;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-webkit-border-bottom-left-radius: 0.5em;
	-webkit-border-top-left-radius: 0.5em;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	-webkit-transition: all 300ms;
	background: rgba(255, 255, 255, 0.2);
	background: rgba(255, 255, 255, 0.2);
	border-radius: 0.5em 0 0 0.5em;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	float: right;
	margin: 0 -0.167em 0.5em 0;
	padding: 0.667em 0.417em 0.667em 0.667em;
	transition: all 300ms;
	width: 1.5em;
}

.action-tabs.right li {
	-moz-border-radius: 0 0.5em 0.5em 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0.5em;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0.5em;
	border-radius: 0 0.5em 0.5em 0;
	float: left;
	margin: 0 0 0.5em -0.167em;
	padding: 0.667em 0.667em 0.667em 0.417em;
	text-align: right;
}

.action-tabs li:hover {
	-moz-transition: all 100ms;
	-o-transition: all 100ms;
	-webkit-transition: all 100ms;
	margin-right: 0;
	transition: all 100ms;
}

.action-tabs.right li:hover { margin-left: 0; }

.action-tabs li a {
	-moz-background-size: 100% 100%;
	-moz-border-radius: 0.5em 0 0 0.5em;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-webkit-border-bottom-left-radius: 0.5em;
	-webkit-border-top-left-radius: 0.5em;
	background: #9a9ea3 url(../images/old-browsers-bg/action-tab-bg.png) repeat-x top;
	background: -moz-linear-gradient(
	                                top,
	                                #82858b,
	                                #9a9ea3
);
	background: -webkit-gradient(
	                            linear,
	                            left top, left bottom,
	                            from(#82858b),
	                            to(#9a9ea3)
);
	background-size: 100% 100%;
	border: 0.083em solid;
	border-color: #c8cacc white #777a7d #aeb0b4;
	border-radius: 0.5em 0 0 0.5em;
	border-right: 0;
	display: block;
	margin: -0.667em -0.5em -0.667em -0.667em;
	padding: 0.583em 0.5em 0.583em 0.583em;
}

.action-tabs.right li a {
	-moz-border-radius: 0 0.5em 0.5em 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0.5em;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0.5em;
	border-color: #c8cacc #77797e #777a7d white;
	border-left: 0;
	border-radius: 0 0.5em 0.5em 0;
	border-right: 0.083em solid;
	margin: -0.667em -0.667em -0.667em -0.5em;
	padding: 0.583em 0.583em 0.583em 0.5em;
	text-align: right;
}

.action-tabs li:hover a {
	background: #c7c9cd url(../images/old-browsers-bg/action-tab-hover-bg.png) repeat-x top;
	background: #c7c9cd url(../images/old-browsers-bg/action-tab-hover-bg.png) repeat-x top;
	background: -moz-linear-gradient(
	                                top,
	                                #afb0b4,
	                                #c7c9cd
);
	border-color: #dcddde white #999a9d #cfd0d3;
}

.action-tabs.right li:hover a { border-color: #dcddde #9b9da0 #999a9d white; }

/****************** Messages ********************/

.message { margin-bottom: 2.5em; }

section .message { margin-bottom: 1.667em; }

/**************** Content columns ***************/

.content-columns {
	margin: 0 -1.417em;
	position: relative;
	z-index: 89;
}

.content-columns:last-child { margin-bottom: -1.667em; }
	/* IE class */

.content-columns.last-child { margin-bottom: -1.667em; }

.block-controls + .content-columns { margin-top: -1.667em; }

.block-content.no-title .content-columns:first-child { margin-top: -1.667em; }
	/* IE class */

.block-content.no-title .content-columns.first-child { margin-top: -1.667em; }

.block-content.no-padding .content-columns:first-child { margin-top: 0; }
	/* IE class */

.block-content.no-padding .content-columns.first-child { margin-top: 0; }

.content-left {
	float: left;
	margin-left: -0.25em;
	width: 50%;
}

.content-right {
	float: right;
	margin-right: -0.25em;
	width: 50%;
}

.content-columns .content-columns-sep {
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background: #c4c4c4 url(../images/old-browsers-bg/content-columns-sep-bg.png) repeat-y left;
	background: -moz-linear-gradient(
	                                left,
	                                #e6e6e6,
	                                #c4c4c4
);
	background: -webkit-gradient(
	                            linear,
	                            left top, right top,
	                            from(#e6e6e6),
	                            to(#c4c4c4)
);
	background-size: 100% 100%;
	border-left: 0.1em solid #999999;
	border-right: 0.1em solid #999999;
	bottom: 0;
	left: 50%;
	margin-left: -0.25em;
	position: absolute;
	top: 0;
	width: 0.417em;
	z-index: 88;
}
	
	/* Left column of 30% */

.content-columns.left30 .content-left { width: 30%; }

.content-columns.left30 .content-right { width: 70%; }

.content-columns.left30 .content-columns-sep { left: 30%; }
	
	/* right column of 30% */

.content-columns.right30 .content-left { width: 70%; }

.content-columns.right30 .content-right { width: 30%; }

.content-columns.right30 .content-columns-sep { left: 70%; }

.content-columns .message {
	border-width: 1px 0;
	margin: 0 !important;
}

.content-columns .message:last-child {
	-moz-border-radius: 0;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 0;
	border-bottom: 0;
	border-radius: 0;
}
	/* IE class */

.content-columns .message.last-child {
	border-bottom: 0;
	margin-bottom: 0;
}

.content-columns:last-child .content-left > :last-child {
	-moz-border-radius-bottomleft: 0.167em;
	-webkit-border-bottom-left-radius: 0.167em;
	border-bottom-left-radius: 0.167em;
}

.content-columns:last-child .content-right > :last-child {
	-moz-border-radius-bottomright: 0.167em;
	-webkit-border-bottom-right-radius: 0.167em;
	border-bottom-right-radius: 0.167em;
}

.block-content.no-title .content-columns:first-child .content-left > :first-child {
	-moz-border-radius-topleft: 0.167em;
	-webkit-border-top-left-radius: 0.167em;
	border-top-left-radius: 0.167em;
}

.block-content.no-title .content-columns:first-child .content-right > :last-child {
	-moz-border-radius-topright: 0.167em;
	-webkit-border-top-right-radius: 0.167em;
	border-top-right-radius: 0.167em;
}

/**************** Drop-down menu ****************/

.with-menu,
.menu-opener {
	padding-right: 1.75em;
	position: relative;
	z-index: 98;
}
	/* IE class */

.ie .block-content .with-menu,
.ie .block-content .menu-opener { padding-right: 1.75em; }

.with-menu:hover,
.menu-opener:hover { z-index: 99; }

.button.with-menu, .button.menu-opener,
.form legend.with-menu, .form legend.menu-opener,
.mini-menu.with-menu, .mini-menu.menu-opener { padding-right: 2.25em; }
	/* IE class */

.ie .block-content .button.with-menu,
.ie .block-content .button.menu-opener,
.ie .block-content .mini-menu.with-menu,
.ie .block-content .mini-menu.menu-opener { padding-right: 2.25em; }

.menu,
.menu-opener .menu-arrow {
	bottom: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 1.25em;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 99;
}

.with-menu .menu,
.menu-opener .menu-arrow {
	-moz-background-size: 2px 100%;
	-webkit-background-size: 2px 100%;
	background: url(../images/menu-border.png) no-repeat left center;
	background-size: 2px 100%;
	width: 1.75em;
}

.menu-opener .menu {
	background: url(../images/trans.png);
	left: 0;
}

.with-menu .menu > img,
.menu-opener .menu-arrow > img {
	left: 50%;
	margin: -8px 0 0 -7px;
	position: absolute;
	top: 50%;
}

.menu ul {
	-moz-border-radius: 0 0.25em 0.25em 0.25em;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 0.25em;
	-webkit-border-top-left-radius: 0;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
	background: #cccccc url(../images/menu-bg.png) repeat-y;
	border: 1px solid white;
	border-radius: 0 0.25em 0.25em 0.25em;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
	display: none;
	left: 1px;
	margin: 0;
	padding: 0.25em 0;
	position: absolute;
	top: 100%;
	width: 15em;
	z-index: 999910;
}

.menu-opener .menu > ul { left: -1px; }

.menu ul.reverted {
	-moz-border-radius: 0.25em 0 0.25em 0.25em;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 0.25em;
	-webkit-border-top-right-radius: 0;
	border-radius: 0.25em 0 0.25em 0.25em;
}

.menu > ul.reverted {
	left: auto;
	right: 1px;
}

.menu-opener .menu > ul.reverted { right: -1px; }

.menu:hover > ul,
.menu :hover > ul { display: block; }

.menu ul li ul {
	-moz-border-radius: 0;
	-moz-box-shadow: none;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 0;
	-webkit-box-shadow: none;
	background: url(../images/menu-arrow.png) no-repeat;
	border: none;
	border-radius: 0;
	box-shadow: none;
	display: block;
	height: 6px;
	left: 94%;
	top: 0.6em;
	width: 4px;
}

.menu ul li ul li { display: none; }

.menu ul li:hover > ul {
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
	background: #cccccc url(../images/menu-bg.png) repeat-y;
	border: 1px solid white;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
	height: auto;
	left: 98%;
	top: -0.167em;
	width: 15em;
}

.menu ul li:hover > ul.reverted {
	left: auto;
	right: 98%;
}

.menu ul li:hover > ul > li { display: block; }

.menu ul li {
	-moz-text-shadow: 1px 1px 0 white;
	-webkit-text-shadow: 1px 1px 0 white;
	background-position: 5px 3px;
	background-repeat: no-repeat;
	color: #999999;
	margin: 0;
	padding: 0.333em 0.833em 0.417em 35px;
	position: relative;
	text-shadow: 1px 1px 0 white;
	z-index: 999911;
}
			/* IE class */

.ie7 .menu > ul > li,
.ie7 .menu ul li:hover > ul > li {
	display: inline-block;
	padding-left: 0;
	padding-right: 0;
	text-indent: 35px;
}

.menu ul li.sep {
	border-bottom: 1px solid white;
	border-top: 1px solid #adadad;
	font-size: 0;
	height: 0;
	line-height: 0;
	margin: 2px 0;
	padding: 0;
}
			/* IE class */

.ie7 .menu ul li.sep { z-index: 999910; }

.menu ul li a {
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	color: #1e343f;
	display: block;
	margin: -0.333em -0.833em -0.417em -9px;
	padding: 0.333em 0.833em 0.417em 9px;
	text-shadow: none;
}
				/* IE class */

.ie7 .menu ul li a {
	margin-left: 26px;
	margin-right: 0;
	text-indent: 0;
}

.menu ul li:hover {
	background-color: #c0c0c0;
	z-index: 999912;
}

.menu ul li.sep:hover { z-index: 999911; }

.menu ul li:hover > a {
	background: #4d4d4d;
	color: white;
}

.menu .icon_address { background-image: url(../images/icons/fugue/address-book.png); }

.menu .icon_alarm { background-image: url(../images/icons/fugue/alarm-clock-blue.png); }

.menu .icon_blog { background-image: url(../images/icons/fugue/application-blog.png); }

.menu .icon_terminal { background-image: url(../images/icons/fugue/application-terminal.png); }

.menu .icon_battery { background-image: url(../images/icons/fugue/battery-full.png); }

.menu .icon_building { background-image: url(../images/icons/fugue/building.png); }

.menu .icon_calendar { background-image: url(../images/icons/fugue/calendar-day.png); }

.menu .icon_cards { background-image: url(../images/icons/fugue/cards-address.png); }

.menu .icon_chart { background-image: url(../images/icons/fugue/chart.png); }

.menu .icon_computer { background-image: url(../images/icons/fugue/computer.png); }

.menu .icon_database { background-image: url(../images/icons/fugue/database.png); }

.menu .icon_delete { background-image: url(../images/icons/fugue/cross-circle.png); }

.menu .icon_doc_excel { background-image: url(../images/icons/fugue/document-excel.png); }

.menu .icon_doc_pdf { background-image: url(../images/icons/fugue/document-pdf.png); }

.menu .icon_doc_csv { background-image: url(../images/icons/fugue/document-excel-csv.png); }

.menu .icon_doc_image { background-image: url(../images/icons/fugue/document-image.png); }

.menu .icon_doc_web { background-image: url(../images/icons/fugue/document-globe.png); }

.menu .icon_down { background-image: url(../images/icons/fugue/arrow-270.png); }

.menu .icon_edit { background-image: url(../images/icons/fugue/pencil.png); }

.menu .icon_film { background-image: url(../images/icons/fugue/film.png); }

.menu .icon_security { background-image: url(../images/icons/fugue/hard-hat.png); }

.menu .icon_images { background-image: url(../images/icons/fugue/images.png); }

.menu .icon_mail { background-image: url(../images/icons/fugue/mail.png); }

.menu .icon_monitor { background-image: url(../images/icons/fugue/monitor.png); }

.menu .icon_newspaper { background-image: url(../images/icons/fugue/newspaper.png); }

.menu .icon_search { background-image: url(../images/icons/fugue/magnifier.png); }

.menu .icon_network { background-image: url(../images/icons/fugue/globe-network.png); }

.menu .icon_server { background-image: url(../images/icons/fugue/server.png); }

.menu .icon_export { background-image: url(../images/icons/fugue/application-export.png); }

.menu .icon_refresh { background-image: url(../images/icons/fugue/arrow-circle.png); }

.menu .icon_reset { background-image: url(../images/icons/fugue/counter-reset.png); }

.menu .icon_up { background-image: url(../images/icons/fugue/arrow-090.png); }

nav > ul > li > ul > li.with-menu,
nav > ul > li > ul > li.menu-opener { padding-right: 2.3em; }

nav > ul > li > ul > li.with-menu > a,
nav > ul > li > ul > li.menu-opener > a {
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	padding-right: 0.8em;
}

nav > ul > li > ul > li.with-menu .menu,
nav > ul > li > ul > li.menu-opener .menu-arrow {
	-moz-border-radius-bottomright: 0.3em;
	-moz-border-radius-topright: 0.3em;
	-webkit-border-bottom-right-radius: 0.3em;
	-webkit-border-top-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	border-top-right-radius: 0.3em;
	font-size: 1.2em;
	height: 1.834em; /* Chrome 5 is one pixel short with 0.833, dunno why... */
	line-height: 1.833em;
	right: 1px;
	text-transform: none;
	top: 1px;
	width: 1.75em;
}

nav > ul > li > ul > li.with-menu.current .menu,
nav > ul > li > ul > li.menu-opener.current .menu-arrow {
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	background: none !important;
	border-bottom-right-radius: 0;
	border-left: 1px solid #ccc;
	height: 2.333em;
	line-height: 2.333em;
}

nav > ul > li > ul > li.with-menu.current .menu:hover,
nav > ul > li > ul > li.menu-opener.current .menu-arrow:hover {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

nav > ul > li > ul > li.with-menu .menu > img,
nav > ul > li > ul > li.menu-opener .menu-arrow > img {
	margin-left: -8px;
	margin-top: -9px;
}

nav > ul > li > ul > li .menu > ul {
	left: -1px;
	line-height: 1.2em;
}

nav > ul > li > ul > li .menu > ul,
nav > ul > li > ul > li .menu ul li:hover > ul {
	background-color: #1c1e20;
	background-image: url(../images/main-menu-bg.png);
	border-color: #b3b3b3;
}

nav > ul > li > ul > li .menu ul li {
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	color: #666666;
	text-shadow: none;
}

nav > ul > li > ul > li .menu ul li a { color: white; }

nav > ul > li > ul > li .menu ul li.sep {
	border-bottom-color: #666666;
	border-top-color: black;
}

section h1.with-menu,
section .h1.with-menu,
section h1.menu-opener,
section .h1.menu-opener { padding-right: 1.667em; }

section h1 .menu,
section .h1 .menu {
	-moz-border-radius: 0 0.278em 0.278em 0;
	-webkit-border-bottom-right-radius: 0.278em;
	-webkit-border-top-right-radius: 0.278em;
	border-radius: 0 0.278em 0.278em 0;
	font-size: 0.667em;
}

section h1 .menu:hover,
section .h1 .menu:hover {
	background: url(../images/menu-border.png) no-repeat left center,
	            -moz-linear-gradient(
	                                top,
	                                white,
	                                #2bcef3 5%,
	                                #057fdb
);
	background: url(../images/menu-border.png) no-repeat left center,
	            -webkit-gradient(
	                            linear,
	                            left top, left bottom,
	                            from(white),
	                            to(#057fdb),
	                            color-stop(0.05, #2bcef3)
);
}

section h1 .menu > ul,
section h1 .menu ul li:hover > ul,
section .h1 .menu > ul,
section .h1 .menu ul li:hover > ul {
	background-color: #006699;
	background-image: url(../images/h1-menu-bg.png);
	border-color: #99ccff;
}

section h1 .menu ul li,
section .h1 .menu ul li {
	-moz-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	-webkit-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	color: #3399cc;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

section h1 .menu ul li a,
section .h1 .menu ul li a { color: white; }

section h1 .menu ul li:hover,
section .h1 .menu ul li:hover {
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	background-color: #70b7db;
	text-shadow: none;
}

section h1 .menu ul li:hover > a,
section .h1 .menu ul li:hover > a { background-color: #004a6f; }

section h1 .menu ul li.sep,
section .h1 .menu ul li.sep {
	border-bottom-color: #84c8e1;
	border-top-color: #004a6f;
}

section h1 .menu ul li ul,
section .h1 .menu ul li ul { background-image: url(../images/menu-arrow-white.png); }

.button.with-menu .menu:hover,
.button.menu-opener:hover .menu-arrow {
	background: url(../images/menu-border.png) no-repeat left center,
	            -moz-linear-gradient(
	                                top,
	                                #dff3fc,
	                                #98d2f3
);
	background: url(../images/menu-border.png) no-repeat left center,
	            -webkit-gradient(
	                            linear,
	                            left top, left bottom,
	                            from(#dff3fc),
	                            to(#98d2f3)
);
}

#contextMenu.menu {
	-moz-border-radius: 1em;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 1em;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 1em;
	bottom: auto;
	display: none;
	left: 0;
	margin: -1em 0 0 -1em;
	padding: 1em;
	top: 0;
	width: 0;
}

#contextMenu.menu > ul {
	display: block;
	left: 50%;
	top: 50%;
}

/***************** Notifications ****************/

#notifications {
	position: fixed;
	right: 1em;
	top: 1em;
	width: 20em;
	z-index: 999990;
}

#notifications li {
	-moz-border-radius: 0.417em;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 0.417em;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	background: url(../images/old-browsers-bg/black80.png);
	background: rgba(0, 0, 0, 0.8);
	border-radius: 0.417em;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	color: white;
	margin-bottom: 1em;
	padding: 1.25em;
	position: relative;
}

/********************* Footer *******************/

footer {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
	z-index: 100;
}

footer .float-left,
footer .float-right {
	bottom: 0;
	position: absolute;
}

footer .float-left { left: 0; }

footer .float-right { right: 0; }

footer .float-left .button,
footer .float-right .button {
	-moz-border-radius: 0;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 0;
	border-bottom: 0;
	border-radius: 0;
	display: block;
	float: left;
	margin: 0;
}

footer .float-left .button:first-child { border-left: 0; }
		/* IE class */

footer .float-left .button.first-child { border-left: 0; }

footer .float-left .button:last-child {
	-moz-border-radius-topright: 0.417em;
	-webkit-border-top-right-radius: 0.417em;
	border-top-right-radius: 0.417em;
}

footer .float-right .button:last-child { border-right: 0; }
		/* IE class */

footer .float-right .button.last-child { border-right: 0; }

footer .float-right .button:first-child {
	-moz-border-radius-topleft: 0.417em;
	-webkit-border-top-left-radius: 0.417em;
	border-top-left-radius: 0.417em;
}

/****************** Modal window ****************/

#modal {
	background: url(../images/old-browsers-bg/black50.png);
	background: rgba(0, 0, 0, 0.5);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999980;
}

div.modal-window {
	-moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.75);
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.75);
	left: 0;
	position: absolute;
	top: 0;
}

.modal-content {
	margin: -2.833em -1.667em -1.667em;
	overflow: hidden;
	padding: 2.833em 1.667em 1.667em;
}

.no-title .modal-content {
	margin-top: -1.667em;
	padding-top: 1.667em;
}

.modal-content + .block-footer { margin-top: 1.667em; }

.modal-content.modal-scroll { overflow: auto; }

#modal > .block-border > .block-content { z-index: 90; }

#modal h1 {
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: move;
}

.modal-loading {
	background: url(../images/arbo-loader.gif) no-repeat center 3em;
	color: #999999;
	height: 4em;
	padding-top: 4.5em;
	text-align: center;
}

#modal .block-border > .action-tabs.right { padding-top: 1em; }

#modal .block-content > .action-tabs.right {
	margin-top: -2em;
	padding-top: 0;
}
	
	/* Resizing zones */

.modal-resize-tl,
.modal-resize-t,
.modal-resize-tr,
.modal-resize-r,
.modal-resize-br,
.modal-resize-b,
.modal-resize-bl,
.modal-resize-l {
	background: url(../images/trans.png);
	position: absolute;
	z-index: 89;
}

.modal-resize-tl {
	cursor: nw-resize;
	height: 1em;
	left: 0;
	top: 0;
	width: 2em;
}

.modal-resize-t {
	cursor: n-resize;
	height: 1em;
	left: 2em;
	right: 2em;
	top: 0;
}

.modal-resize-tr {
	cursor: ne-resize;
	height: 1em;
	right: 0;
	top: 0;
	width: 2em;
}

.modal-resize-r {
	bottom: 1em;
	cursor: e-resize;
	right: 0;
	top: 1em;
	width: 1em;
}

.modal-resize-br {
	bottom: 0;
	cursor: se-resize;
	height: 1em;
	right: 0;
	width: 2em;
}

.modal-resize-b {
	bottom: 0;
	cursor: s-resize;
	height: 1em;
	left: 2em;
	right: 2em;
}

.modal-resize-bl {
	bottom: 0;
	cursor: sw-resize;
	height: 1em;
	left: 0;
	width: 2em;
}

.modal-resize-l {
	bottom: 1em;
	cursor: w-resize;
	left: 0;
	top: 1em;
	width: 1em;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

#control-bar:after,
.columns:after,
.content-columns:after,
article:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
}

#control-bar,
.columns,
.content-columns,
article { display: inline-block; }

* html #control-bar,
* html .columns,
* html .content-columns,
* html article { height: 1%; }

#control-bar,
.columns,
.content-columns,
article { display: block; }